<ion-header>
  <ion-toolbar class="transparent ion-text-center">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="goBack()" class="width-28">
    </ion-buttons>         
    <ion-title *ngIf="cartData && cartData.order">{{cartData.order.euro_total.toFixed(2)}} &euro;</ion-title>
  </ion-toolbar>
  <ion-toolbar class="transparent line-toolbar">
    <ion-row>
      <ion-col><span class="dot"></span></ion-col>
      <ion-col><span class="dot active"></span></ion-col>
      <ion-col><span class="dot"></span></ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar class="transparent steps-toolbar">
    <ion-row>
      <ion-col>CHECKOUT</ion-col>
      <ion-col class="active">PAGAMENTO</ion-col>
      <ion-col>COMPLETA</ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar class="transparent info-toolbar">
    <div class="info-container">
      <ion-item lines="none" *ngIf="isDomicilio">       
        <ion-avatar slot="start">
          <img src="assets/imgs/posizione-red-72.png">
        </ion-avatar>
        <h2 slot="start" *ngIf="cartData && cartData.order">
          {{cartData.order.location.address}}, {{cartData.order.location.num}}<br>
          {{cartData.order.location.townstr}} {{cartData.order.location.zip}}
        </h2>    
       <!--<ion-button slot="end" (click)="onChangeLocation()">Modifica</ion-button>-->
      </ion-item>
      <ion-item lines="none">       
        <ion-avatar slot="start">
          <img src="assets/imgs/orologio-red-72.png">
        </ion-avatar>
        <h2 slot="start" *ngIf="cartData && cartData.order">
          <span *ngIf="cartData.order.tipooraconsegna == 0">
            <span *ngIf="cartData.order.order_date != -2">{{cartData.order.order_date}}</span> 
            <span *ngIf="cartData.order.order_date == -2">Non disponibile ora</span> 
          </span>
          <span *ngIf="cartData.order.tipooraconsegna == 1">
            <span *ngIf="cartData.order.fasciaoraria != -2">{{cartData.order.fasciaoraria}} </span> 
            <span *ngIf="cartData.order.fasciaoraria == -2">Non disponibile ora</span> 
          </span>
        </h2>    
       <!-- <ion-button slot="end" (click)="onChangeTime()">Modifica</ion-button>-->
      </ion-item>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="cartData && cartData.order">     
    <!--ng-container *ngFor="let payment of restaurantBase.payments">
      <ion-item *ngIf="payment.id == payType.TICKET" (click)="onItemClick(4)"> 
        <ion-avatar slot="start">
          <img src="assets/imgs/edenred100.png" style="height: auto;position: absolute !important; top:35% !important;"/>
        </ion-avatar>
        <h2>Ticket Restaurant &reg; </h2>
        <h3 item-subtitle text-wrap>Utilizza i buoni pasto elettronici del tuo conto Cloud</h3>
      </ion-item>
    </ng-container-->

  <ng-container *ngFor="let payment of restaurantBase.payments">

    <ion-item *ngIf="payment.id == payType.CARD" (click)="onItemClick(3)">
      <ion-avatar>
        <img src="assets/imgs/carta-credito-72.png" />
      </ion-avatar>
      <h2>Carta di credito</h2>
      <ion-button slot="end">Paga</ion-button>
    </ion-item>    

    <ion-item *ngIf="payment.id == payType.MONEY && !hideCash && cartData.order.credit == 0" (click)="onItemClick(1)">
      <ion-avatar>
        <img src="assets/imgs/contanti-72.png" />
      </ion-avatar>
      <h2>Contanti</h2>
      <ion-button slot="end">Paga</ion-button>
    </ion-item>        

    <ion-item *ngIf="payment.id == payType.SATISPAY" (click)="onItemClick(7)">
      <ion-avatar>
        <img src="assets/imgs/satispay-72.jpg" />
      </ion-avatar>
      <h2>Satispay</h2>
      <ion-button slot="end">Paga</ion-button>
    </ion-item>    

   <ion-item *ngIf="payment.id == payType.PAYPAL" (click)="onItemClick(2)">
      <ion-avatar>
        <img src="assets/imgs/paypal-72.jpg" />
      </ion-avatar>
      <h2>Paypal</h2>
      <ion-button slot="end">Paga</ion-button>
    </ion-item>

    <ion-item *ngIf="payment.id == payType.CREDIT" (click)="onItemClick(6)">
      <ion-avatar>
        <img src="assets/imgs/credito.png" />
      </ion-avatar>
      <h2>Punti fedelt&agrave;/Credito</h2>
      <ion-button slot="end">Paga</ion-button>
    </ion-item>

    <ion-item *ngIf="payment.id==payType.INLIRE" (click)="onItemClick(8)">
      <ion-avatar slot="start">
        <img src="assets/imgs/inlire.png" />
      </ion-avatar>
      <h2>InLire</h2>
      <h3 item-subtitle text-wrap>Paga con il tuo credito InLire</h3>
    </ion-item>
  </ng-container>

</ion-content>
<ion-footer>
  <ion-button class="default-button" expand="block" (click)="goBack()">
    Torna al checkout
  </ion-button>
</ion-footer>
