.line-toolbar{
    padding: 0 60px;
    --min-height: 20px;

    ion-row{
        border-top: 1px solid;
        margin: 0 10px;
    }

    .dot{
        height: 10px;
        width: 10px;
        background: var(--cs-background-secondary);
        display: block;
        border-radius: 50%;
        position: absolute;
        top: -5px;
        left: calc(50% - 5px);
        opacity: .5;
    }

    .dot.active{
        opacity: 1;
    }

    ion-col:first-child{
        .dot{
            left: -10px;
        }
    }

    ion-col:last-child{
        .dot{
            right: -10px;
            left: auto;
        }
    }
}
.steps-toolbar{
    padding: 0 30px;
    font-size: 14px;
    --min-height: 30px;
    ion-col{
        text-align: center;
        opacity: .5;
    }
    ion-col:first-child{
        text-align: left;
    }
    ion-col:last-child{
        text-align: right;
    }
    ion-col.active{
        opacity: 1;
    }
}

.info-toolbar {
    padding: 10px 25px;

    .info-container{
        border-radius: 8px;
        padding: 0;
    }

    ion-item{
        color: var(--cs-text-accent) !important;
        --border-radius: 8px;
    }

    h2{
        font-size: 13px;
        display: inline-block;
        margin-top: 18px;
        line-height: 1.3;
        font-weight: bold;
        color: var(--cs-text-accent);
    }
    ion-avatar{
        box-shadow: none !important;
        width: 33px;
        height: 33px;
        display: inline-block;
        img{
            object-fit: contain;
        }
    }
    ion-button{
        text-transform: none;
        --color: #000;
        --background: transparent;
        --box-shadow: none !important;
        font-weight: normal;
        font-size: 12px;
    }
}

ion-content{
    --background: #fff;

    ion-item{
        padding: 0 25px !important;

        ion-avatar{
            --border-radius: 0 !important;
            box-shadow: none !important;
            display: flex;
            margin: 0;

            img{
                height: 27px;
                width: auto;
                margin: auto;
                align-self: center;
            }
        }

        h2{
            font-size: 14px;
            padding: 0 10px;
            font-weight: bold;
            color: var(--cs-text-accent);
            margin: 0;
        }

        ion-button{
            --padding-start: 12px;
            --padding-end: 12px;
            --background: var(--cs-background-accent) !important;
            text-transform: none;
            --box-shadow: none !important;
            font-weight: bold;
        }
    }
}

ion-footer{
    padding: 10px;

    p{
        margin: 5px 10px;
        font-size: 13px;
    }
    ion-item{
        --min-height: 20px !important;
    }
}
ion-footer::before{
    background-image: none !important;
}

ion-buttons{
    img{
        height: 20px;
    }
}