<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back-modal" icon-only (click)="dismiss({})"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="transparent ion-text-center">
    <img src="assets/imgs/credito-white.png">
    <h1 class="ion-text-center text-size-sm text-color-light font-regular">Converti i tuoi punti in credito</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--img src="assets/images/eatpoints_big.png"-->
  <h4>Punti fedelt&agrave; totali = {{useraccount.eatpoints}}</h4>
  <h4>Quanti Eatpoints vuoi convertire?</h4>
  <ion-input text-center [(ngModel)]="convEp.ep" type="number" min="0" max="convEp.max"></ion-input>
  <h5 *ngIf="(convEp.ep || convEp.ep == 0) && convEp.ep <= convEp.max" class="convSpan">Credito equivalente = {{convEp.ep/100}} &euro;</h5>
  <h5 *ngIf="(convEp.ep != 0 && !convEp.ep) || convEp.ep > convEp.max" class="convSpan">Credito equivalente = -</h5>
</ion-content>
<ion-footer text-center>
  <ion-button class="default-button" type="button" (click)="convert()">
    <strong>CONVERTI</strong>
  </ion-button>
</ion-footer>
