ion-toolbar{
    h1{
        font-size: 25px !important;
        font-weight: bold !important;
        margin-bottom: 20px !important;
    }
}

ion-content{
    --background: var(--cs-background-secondary);
    h4{
        color: var(--cs-text-accent);
        font-weight: 700;
        font-size: 18px;
    }    

    .pagamenti{
        color: var(--cs-text-accent);
        background: var(--gray-light);
        margin: 0 auto;
        width: calc(100% - 80px);
        border-radius: 10px;
        padding: 10px;
        font-size: 15px;
    }
}

ion-footer{
    background: var(--cs-background-secondary);
    padding: 10px;
}

ion-footer::before{
    background-image: none !important;
}