<ion-header class="ctm-p-b-10">
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="dismiss({})" class="width-28">
    </ion-buttons>    
  </ion-toolbar>    
  <ion-toolbar class="transparent">
    <div class="ion-text-center">
      <img src="assets/imgs/contanti-white-150.png" class="width-60">
      <h1 class="ion-text-center text-size-sm">Pagamento in Contanti</h1>
      <h1 class="ion-text-center text-size-sm">{{order.euro_total}} &euro;</h1>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h4 class="ion-text-center ctm-m-t-24">Paga comodamente in contanti<br> all'arrivo del fattorino.</h4>
  <div class="ctm-m-t-24">
    <div class="pagamenti">
      <span>NOTE<br>Es. Come pagherai<br>il fattorino?<br>Avrai bisogno di resto?</span>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-button class="default-button" expand="block" (click)="onComplete()">
    Concludi l’ordine
  </ion-button>
</ion-footer>
