<ion-header class="white-header">
  <ion-toolbar class="small-toolbar">
    <ion-buttons slot="start">
      <ion-button icon-only (click)="goToHome()"><img src="assets/imgs/home.png"></ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center text-color-primary">Menu</ion-title>

    <ion-buttons icon-only slot="end">
      <ion-button icon-only style="visibility: hidden;"><img src="assets/imgs/carrello.png"></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment scrollable [(ngModel)]="selectedCat" [ngClass]="{activeTB: isActive}" id="segmentHeader">
      <ion-segment-button *ngFor="let category of menu.categories; let i = index;" value="{{i}}" class="text-center"
        [ngClass]="{'item-activated': selectedCat == i}" id="btnh-{{i}}">
        <ion-card class="border-radius" *ngIf="category.media"
          [ngStyle]="{'background-image': 'url(' + appInfo.ASSETS_URL + category.media.filename + ')'}"></ion-card>
        {{category.name}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding" *ngIf="menu && menu.categories && menu.categories[selectedCat]">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" size="12">

        <ng-container *ngFor="let element of menu.categories[selectedCat].items; let i = index">
          <ng-container *ngIf="element.attivo && null == element.varianti">
            <ion-card class="margin-half box-shadow border-radius">
              <ion-item class="transparent" lines="none">
                <ion-avatar slot="start">
                  <img src="assets/imgs/cmf-default-300.png" alt="Image" *ngIf="element.media_id < 1" />
                  <img class="no-border-radius" [src]="appInfo.ASSETS_URL + element.media.filename_small"
                    *ngIf="element.media_id > 0" alt="Image" />
                </ion-avatar>
                <ion-label class="">

                  <h1 class="text-size-md text-color-primary font-bold ion-text-wrap">
                    {{element.name}}</h1>
                  <p class="ion-no-margin ion-no-padding text-size-sm  font-bold item-subtitle ion-text-wrap">
                    <small>{{shortDescr(element)}}</small> {{longDescr(element)}}{{ingredients(element)}}
                  </p>
                  <h2 class="text-size-md text-color-primary font-bold ion-text-wrap">
                    {{element.price}} &euro;</h2>

                </ion-label>

                <!--ion-label slot="end" class="overflow-visible ion-no-padding cart-bar">
                 
                  <ion-button class="ion-float-end" fill="clear" (click)="addToCart(element, null)">
                    <ion-icon class="icon-font-lg icon-color-accent" slot="icon-only" name="add-circle-outline">
                    </ion-icon>
                  </ion-button>
                </ion-label-->
              </ion-item>

            </ion-card>

            <!--ng-container
              *ngIf="element.attivo &&  cartData != null && cartData.order != null && cartData.order.items != null && cartData.order.items[element.id] != null">
              <ng-container *ngFor="let elCart of cartData.order.items[element.id]">

                <ion-card class="margin-half box-shadow border-radius">
                  <ion-item class="transparent" lines="none">
                   
                    <ion-label class="">

                      <h2 class="text-size-md text-color-primary font-bold ion-text-wrap">
                        {{elCart.name}}</h2>
                      <p *ngIf="elCart.details && elCart.details.length == 0 && elCart.extradetails && elCart.extradetails.length == 0 && elCart.subitems && elCart.subitems.length == 0"
                        class="ion-margin-top ion-padding-top text-size-sm  font-bold ion-text-wrap">
                        {{elCart.descr}}
                      </p>
                      <p *ngFor="let detail of elCart.details">+ {{detail.name}}</p>
                      <p *ngFor="let extradetail of elCart.extradetails">+ {{extradetail.name}}</p>
                      <ng-container *ngFor="let subitem of elCart.subitems">
                        <p *ngIf="subitem.name">+ {{subitem.name}}</p>
                        <ng-container *ngIf="!subitem.name">
                          <p *ngFor="let subit of subitem">+ {{subit.name}}</p>
                        </ng-container>
                      </ng-container>
                      <ion-badge class="ion-badge-light">{{elCart.qty}} x {{elCart.endprice}} &euro;</ion-badge>

                    </ion-label>

                    <ion-label slot="end" class="overflow-visible ion-no-padding cart-bar">

                      <ion-button class="ion-float-end" fill="clear" (click)="removeToCartP(elCart)">
                        <ion-icon class="icon-font-lg icon-color-accent" slot="icon-only" name="remove-circle-outline">
                        </ion-icon>
                      </ion-button>

                      <div class="clearfix"></div>
                      <ion-button class="ion-float-end" fill="clear" (click)="addToCartP(elCart)">
                        <ion-icon class="icon-font-lg icon-color-accent" slot="icon-only" name="add-circle-outline">
                        </ion-icon>
                      </ion-button>
                    </ion-label>
                  </ion-item>

                </ion-card>

              </ng-container>
            </ng-container-->
          </ng-container>

          <ng-container *ngIf="element.attivo && null != element.varianti">
            <ion-card class="margin-half box-shadow border-radius">

              <ion-item class="transparent" lines="none">
                <ion-avatar slot="start">
                  <img src="assets/imgs/cmf-default-300.png" alt="Image" *ngIf="element.media_id < 1" />
                  <img class="no-border-radius" [src]="appInfo.ASSETS_URL + element.media.filename_small"
                    *ngIf="element.media_id > 0" alt="Image" />
                </ion-avatar>
                <ion-label class="">

                  <h1 class="text-size-md text-color-primary font-bold ion-text-wrap">
                    {{element.name}}</h1>
                  <p class="item-subtitle ion-no-margin ion-no-padding text-size-sm  font-bold ion-text-wrap">
                    <small>{{shortDescr(element)}}</small> {{longDescr(element)}}{{ingredients(element)}}
                  </p>
                </ion-label>

              </ion-item>

              <ion-item class="transparent" lines="none" *ngFor="let variante of element.varianti">
                <!--(click)="addToCart(element, variante)"-->
                <ion-label class="">

                  <h1 class="text-size-md text-color-primary font-bold ion-text-wrap">
                    {{variante.name}}</h1>

                  <h2 class="text-size-md text-color-primary font-bold ion-text-wrap">
                    {{variante.price}} &euro;</h2>

                </ion-label>
                <ion-label slot="end" class="overflow-visible ion-no-padding cart-bar">

                  <ion-button class="ion-float-end" fill="clear">
                    <ion-icon class="icon-font-lg icon-color-accent" slot="icon-only" name="add-circle-outline">
                    </ion-icon>
                  </ion-button>
                </ion-label>
              </ion-item>

            </ion-card>
            <!--ng-container *ngFor="let variante of element.varianti">
              <ng-container
                *ngIf="variante.attivo &&  cartData != null && cartData.order != null && cartData.order.items != null && cartData.order.items[variante.id] != null">
                <ng-container *ngFor="let elCart of cartData.order.items[variante.id]">

                  <ion-card class="margin-half box-shadow border-radius">
                    <ion-item class="transparent" lines="none">

                      <ion-label class="">

                        <h2 class="text-size-md text-color-primary font-bold ion-text-wrap">
                          {{elCart.name}}</h2>
                        <p *ngIf="elCart.details && elCart.details.length == 0 && elCart.extradetails && elCart.extradetails.length == 0 && elCart.subitems && elCart.subitems.length == 0"
                          class="ion-margin-top ion-padding-top text-size-sm  font-bold ion-text-wrap">
                          {{elCart.descr}}
                        </p>
                        <p *ngFor="let detail of elCart.details">+ {{detail.name}}</p>
                        <p *ngFor="let extradetail of elCart.extradetails">+ {{extradetail.name}}</p>
                        <ng-container *ngFor="let subitem of elCart.subitems">
                          <p *ngIf="subitem.name">+ {{subitem.name}}</p>
                          <ng-container *ngIf="!subitem.name">
                            <p *ngFor="let subit of subitem">+ {{subit.name}}</p>
                          </ng-container>
                        </ng-container>
                        <ion-badge class="ion-badge-light">{{elCart.qty}} x {{elCart.endprice}} &euro;</ion-badge>

                      </ion-label>

                      <ion-label slot="end" class="overflow-visible ion-no-padding cart-bar">

                        <ion-button class="ion-float-end" fill="clear" (click)="removeToCartP(elCart)">
                          <ion-icon class="icon-font-lg icon-color-accent" slot="icon-only"
                            name="remove-circle-outline">
                          </ion-icon>
                        </ion-button>

                        <div class="clearfix"></div>
                        <ion-button class="ion-float-end" fill="clear" (click)="addToCartP(elCart)">
                          <ion-icon class="icon-font-lg icon-color-accent" slot="icon-only" name="add-circle-outline">
                          </ion-icon>
                        </ion-button>
                      </ion-label>
                    </ion-item>

                  </ion-card>
                </ng-container>
                </ng-container>
              </ng-container>
            </ng-container-->
          </ng-container>
        </ng-container>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
<!--ion-footer class="ion-no-padding">
  <ion-toolbar class="ion-no-padding transparent">
    <ion-button class="default-button" expand="block" (click)="goToCart()" [disabled]="cartData.count < 1">Vai al
      carrello
    </ion-button>
  </ion-toolbar>
</ion-footer-->