
.home-bt img
{
  margin:auto;
  max-height: 32px !important;
}

.home-bt h2
{
  margin-top:5px !important;
  margin-bottom:5px !important;
  font-weight: bold !important;
}
.title-toolbar{
    h1, h2{
        font-size: 30px !important;
        line-height: 1.2;
    }
}
.add-btn{
    --background: transparent;
    --padding-end: 0;
    --padding-start: 0 !important;
    --box-shadow: none;
    --color: var(--cs-text-primary);
    font-size: 20px;
}

.item-title{
    font-size: 13px;
}

.item-top{
    border-top: 1px solid var(--cs-background-accent);

    ion-button{
        height: 30px;
        float: right;
    }
    p{
        margin: 2px 0;
        font-size: 13px;
    }
    h3{
        font-size: 12px;
    }
}
ion-footer{
    padding: 10px;
    background: rgba(248, 243, 238, .4);
    bottom: 0;

    p{
        margin: 5px 10px;
        font-size: 13px;
    }
    ion-item{
        --min-height: 20px !important;
    }
}
ion-footer::before{
    background-image: none !important;
}
ion-avatar{
    img{
        object-fit: contain;
    }
}
.mini-img{
    height: 15px;
}
ion-content{
   /* --background: #f8f3ee !important;
    padding-bottom: 70px;*/

    ion-card{
        box-shadow: none !important;
    }
   /* ion-grid{
        padding: 0px;
    }*/
}
ion-header {
    ion-toolbar{
        --background: var(--cs-background-accent2)
    }
}
ion-buttons{
    img{
        height: 20px;
    }
}