<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back-modal" (click)="dismiss()"><ion-icon name="md-freccia"></ion-icon></ion-button>
    </ion-buttons>    
    <ion-buttons slot="end" style="width: 48px;">
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="transparent title-toolbar">
    <!--<h2 class="text-size-md text-color-primary ion-text-center font-regular ion-margin-top ion-padding-start toolbar-title">Il mio ordine</h2>-->
    <h1 class="text-size-md text-color-primary ion-text-center font-regular ion-margin-top ion-padding-start toolbar-title">
      <strong *ngIf="cartBookData && cartBookData.order">{{cartBookData.order.euro_total.toFixed(2)}} &euro;</strong>
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="cartBookData && cartBookData.order && cartBookData.order.items">
    <ion-row *ngFor="let elCartArray of items">
      <ion-col size="12" size-md="12" *ngFor="let elCart of elCartArray.value">
        <ion-card class="border-radius ion-no-margin rest-card">
          <ion-row>
            <ion-col size="2" class="background-size transparent ion-no-padding image-item" lines="none">
              <img src="assets/imgs/img-piatto.jpg" alt="Image" *ngIf="elCart.imagefile == ''" />
              <img *ngIf="elCart.imagefile != ''" [src]="appInfo.ASSETS_URL + elCart.imagefile"/>
            </ion-col>
            <ion-col size="10" class="ion-align-self-center transparent ion-no-padding descr-item" lines="none" style="padding: 0 10px;">              
              <h2 class="ion-text-wrap">{{elCart.name}}</h2>
              <h3 class="ion-text-wrap" *ngIf="elCart.details && elCart.details.length == 0 && elCart.extradetails && elCart.extradetails.length == 0 && elCart.subitems && elCart.subitems.length == 0">
                <small>{{elCart.descr}}</small>
              </h3>
              <p *ngFor="let detail of elCart.details">+ {{detail.name}}</p>
              <p *ngFor="let extradetail of elCart.extradetails">+ {{extradetail.name}}</p>
              <ng-container *ngFor="let subitem of elCart.subitems">
                <p *ngIf="subitem.name">+ {{subitem.name}}</p>
                <ng-container *ngIf="!subitem.name">
                  <p *ngFor="let subit of subitem">+ {{subit.name}}</p>
                </ng-container>
              </ng-container>
              <ion-badge class="ion-badge-light">{{elCart.qty}} x {{elCart.endprice}} &euro;</ion-badge>
              <ion-button icon-only class="add-btn ion-float-end ion-no-padding" (click)="addToCartP(elCart)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
              <ion-button icon-only class="add-btn ion-float-end ion-no-padding" (click)="removeToCartP(elCart)"><ion-icon name="remove-circle-outline"></ion-icon></ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
<ion-footer>  
  <ion-button class="default-button" expand="block" (click)="goToCheckout()" *ngIf="cartBookData != null && cartBookData.order.euro_total > 0" [disabled]="cartBookData.order.items.length == 0">
    Vai al checkout
  </ion-button>
</ion-footer>
