<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back-modal" icon-only (click)="dismiss({})"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="transparent">
    <h1 class="ion-margin-top ion-padding-start toolbar-title ion-text-center">Inserisci il numero civico</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12" class="ion-align-self-start">
        <ion-input type="text" [(ngModel)]="civico">
          <ion-icon *ngIf="error" class="icon-font-sm error-color" name="remove-circle" title="Inserisci il civico!"></ion-icon>
        </ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>      
      <ion-button class="default-button box-shadow ion-text-capitalize" expand="block" (click)="dismiss({})">Annulla</ion-button>
    </ion-col>
    <ion-col>      
      <ion-button class="default-button box-shadow ion-text-capitalize" expand="block" (click)="onFormClicked()">Conferma</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>