ion-toolbar{
    h1{
        font-size: 25px !important;
        font-weight: bold !important;
        margin: 20px 0 !important;
        margin-bottom: 40px !important;
        line-height: normal !important;
    }
}

ion-content {
    --background: var(--cs-background-secondary);
}

ion-footer{
    padding: 10px;
}

ion-footer::before{
    background-image: none !important;
}