<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="dismiss({})" class="width-28">
    </ion-buttons>      
  </ion-toolbar>
  <ion-toolbar class="transparent ion-text-center">
    <img src="assets/imgs/euro-150.png" class="width-60">
    <h1 class="ion-text-center text-size-sm text-color-light font-regular">Pagamento con Credito<br>5 &euro; {{cartData.order.euro_total.toFixed(2)}} &euro;</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="ion-margin-top">
    <h4>Punti fedelt&agrave; =  {{useraccount.eatpoints}}</h4>
    <ion-button class="default-button" expand="block" (click)="convertEatpoints()">Converti punti</ion-button>
  </ion-item>
  <ion-item class="ion-text-center ion-margin-top" lines="none">
    <h4>Credito residuo = {{(useraccount.credit - order.credit).toFixed(2)}} &euro;</h4>
    <ion-button class="default-button" expand="block" (click)="rechargeCredit()">Ricarica credito</ion-button>
  </ion-item>
  <ion-item class="ion-text-center ion-margin-top" lines="none">
    <h4 class="text-color-primary">Quanto credito vuoi utilizzare?</h4>
    <ion-input text-center type="number" min="0" max="max" id="credit" name="credit" [(ngModel)]="credit"></ion-input>
    <ion-button class="default-button" expand="block" (click)="onComplete()">Applica credito</ion-button>
  </ion-item>
  <ion-item *ngIf="cartData.order.credit > 0.01">
    <p>Credito utilizzato: {{cartData.order.credit}} &euro;</p>
    <ion-button icon-only><ion-icon name="trash-outline"></ion-icon></ion-button>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-button class="default-button" expand="block" (click)="dismiss({})">
    Torna al checkout
  </ion-button>
</ion-footer>