.cart-bar
{
    max-width: 40px !important;
}

ion-label h2, ion-label h1{
    font-size: 13px !important;
    line-height: 14px !important;
    font-weight: bold !important;
    margin: 5px 0 !important;
    letter-spacing: 0px !important;
}
ion-label h3, ion-label p.item-subtitle {
    font-size: 13px !important;
    line-height: 14px !important;
    font-weight: normal !important;
    margin: 5px 0 !important;
    letter-spacing: 0px !important;
}

ion-label p.item-subtitle
{
    line-height: 14px !important;
    font-size: 12px !important;
}

ion-avatar {
    height: 96px !important;
    width: 96px !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0px 0 !important;
    border-radius: 0px !important;
    overflow: visible;
    display: flex;
  }

  ion-avatar img{
    border-radius: 0px !important;
    max-height: 100%;
    height: 60px;
    width: auto;
    border-radius: 50% !important;
    margin: auto !important;
  }



.image-item{
    align-items: center;
    display: inline-flex;
}
ion-content{
    ion-card {
        box-shadow: none !important;
        margin-top: 8px !important;
        margin-bottom: 8px !important;
        padding: 0px;    
        p {
            color: var(--cs-text-accent);  
        }
    }
}
.varItem{
    padding: 0 16px;
}
ion-footer{
    background: var(--cs-background-primary, #F1F1F1);
    padding: 10px;
}
ion-footer::before{
    background-image: none !important;
}

.add-btn{
    --background: transparent;
    --padding-end: 0;
    --padding-start: 0 !important;
    --box-shadow: none;
    --color: var(--cs-text-primary);
    font-size: 20px;
}

ion-header ion-toolbar, ion-segment-button{
    font-size: 20px;
    padding-bottom: 0;
}

ion-segment-button {
    margin-bottom: 0px;
}

.item-activated{
    border-bottom: 2px solid var(--red) !important;
    --indicator-height: 0;

}
.segment-button-indicator{
    opacity: 0 !important;
}
ion-title {
    padding: 0px !important;
    img {
        width: 100%;
        height: 100px;
        border-radius: 8px;
    }
}

ion-buttons{
    align-self: start;
    img {
        height: 28px;
    }
}

.menu-banner {
    margin-top: 25px;
}