form{
    padding: 16px 24px;

    ion-item{
        position: relative;
        --inner-padding-end: 0 !important;
    }
    
    ion-input{
        margin-top: 8px;
        border-radius: 6px !important;
        --min-height: 30px;
        text-align: left;
        --padding-start: 8px !important;
        --padding-end: 8px;
        --background: var(--gray-light);
        --placeholder-color: var(--gray) !important;
        color: var(--cs-text-accent) !important;
        font-weight: bold;
    }
    
    ion-icon{
        position: absolute;
        bottom: 10px;
        z-index: 8;
        right: 20px;
    }    

    ion-col:first-child{
        ion-item{
            --inner-padding-end: 16px !important;
        }
    }
}

ion-content{
    --background: #fff;
    h1{
        text-transform: uppercase;
        font-size: 18px !important;
    }
}

ion-footer{
    padding: 10px 40px;
    bottom: 0;

    .default-button{
        --border-radius: 8px !important;
        font-weight: bold;
        font-size: 18px;
    }

    p{
        margin: 5px 10px;
        font-size: 13px;
    }
    ion-item{
        --min-height: 20px !important;
    }
    ion-col:first-child{
        padding-left: 0;
    }
    ion-col:last-child{
        padding-right: 0;
    }
}
ion-footer::before{
    background-image: none !important;
}