<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="goBack()" class="width-28">
    </ion-buttons>     
    <div class="ion-text-center ion-margin-vertical">
      <img src="assets/imgs/account-150.png" class="width-60">   
      <h1 class="ctm-no-margin">Account</h1>
    </div>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-padding-horizontal" size="12" size-md="8" push-md="2">
        <form class="ion-margin-vertical ion-padding-vertical">

          <h1 class="text-size-lg text-color-primary font-bold ion-text-wrap">Contatti</h1>

          <!---Input field name-->
          <ion-item class="ion-no-padding" input lines="none">
            <ion-input required type="text" placeholder="Nome" [(ngModel)]="item.name" [ngModelOptions]="{standalone: true}">
            </ion-input>
            <ion-icon *ngIf="!valid.name" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
          </ion-item>

          <!---Input field lastname-->
          <ion-item class="ion-no-padding" input lines="none">
            <ion-input required type="text" placeholder="Cognome" [(ngModel)]="item.lastname" [ngModelOptions]="{standalone: true}">
            </ion-input>
            <ion-icon *ngIf="!valid.lastname" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
          </ion-item>

          <!---Input field phone-->
          <ion-item class="ion-no-padding" input lines="none">
            <ion-input required type="text" placeholder="Telefono" [(ngModel)]="item.phone" [ngModelOptions]="{standalone: true}">
            </ion-input>
            <ion-icon *ngIf="!valid.phone" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
          </ion-item>

          <!---Input field email-->
          <ion-item class="ion-no-padding" input lines="none">
            <ion-input required type="email" placeholder="Email" [(ngModel)]="item.email" [ngModelOptions]="{standalone: true}" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
            </ion-input>
            <ion-icon *ngIf="!valid.email" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
          </ion-item>

          <h1 class="text-size-md text-color-primary font-bold ion-text-wrap">Indirizzo</h1>

          <ion-row>
            <ion-col size="8">
              <ion-item class="ion-no-padding" input lines="none">
                <ion-input required type="text" placeholder="Via, Corso, ecc." [(ngModel)]="item.address" [ngModelOptions]="{standalone: true}">
                </ion-input>
                <ion-icon *ngIf="!valid.address" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
              </ion-item>
            </ion-col>
            <ion-col size="4">
              <ion-item class="ion-no-padding" input lines="none">
                <ion-input required type="text" placeholder="Num" [(ngModel)]="item.num" [ngModelOptions]="{standalone: true}">
                </ion-input>
                <ion-icon *ngIf="!valid.num" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="8">
              <ion-item class="ion-no-padding" input lines="none">
                <ion-input required type="text" placeholder="Città" [(ngModel)]="item.townstr" [ngModelOptions]="{standalone: true}">
                </ion-input>
                <ion-icon *ngIf="!valid.townstr" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
              </ion-item>
            </ion-col>
            <ion-col size="4">
              <ion-item class="ion-no-padding" input lines="none">
                <ion-input required type="text" placeholder="CAP" [(ngModel)]="item.zip" [ngModelOptions]="{standalone: true}">
                </ion-input>
                <ion-icon *ngIf="!valid.zip" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-item class="ion-no-padding" input lines="none">
            <ion-input required type="text" placeholder="Citofono" [(ngModel)]="item.citofono" [ngModelOptions]="{standalone: true}">
            </ion-input>
            <ion-icon *ngIf="!valid.citofono" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
          </ion-item>

          <ion-item class="ion-no-padding" input lines="none">
            <ion-input type="text" placeholder="Interno / Scala" [(ngModel)]="item.interno" [ngModelOptions]="{standalone: true}">
            </ion-input>
          </ion-item>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="transparent-footer">  
  <ion-row>
    <ion-col>
      <ion-button class="default-button" expand="block" (click)="updateAccount()">Conferma</ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="default-button" expand="block" (click)="changePwd()">Password</ion-button>
    </ion-col>
  </ion-row>  
</ion-footer>