.collapsible-header {
  padding: 8px 8px 0;

  .default-item {
    width: 100% !important;
    margin: 0 !important;      
  }    
}

/* SETTINGS ACCORDIAN "OPEN" */
.item-accordion {
  max-height: 0;
  display: block !important;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  overflow: hidden;

  &.active {
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    overflow: visible;
    max-height: 999px;
  }
}

.ing-textarea {
  --placeholder-color: var(--gray) !important;
  color: var(--cs-text-accent) !important;   
}

ion-footer {
  background: var(--cs-background-primary, #F1F1F1) !important;
}

.footer-md:before {
  background-image: none !important;
}
  
.add-btn{
    --background: transparent;
    --padding-end: 0;
    --padding-start: 0 !important;
    --box-shadow: none;
    --color: var(--cs-text-primary);
    font-size: 20px;
}
.end-btn{
    -webkit-margin-start: 16px !important;
    margin-inline-start: 16px !important;
}
.qty
{
  font-size:16px !important;
  display: inline;
  padding-top: 6px; 
  position: relative;
  top: 5px;
}

ion-header{
    min-height: 180px!important;
    position: relative;
    background-size: cover !important;

    ion-toolbar{
        --background: transparent !important;
    }
    ion-title{
        background-color: rgba($color: #000000, $alpha: 0.5);
        padding: 10px 20px;
        color: #fff;
        p{
            font-size: 12px;
            margin-top: 10px;
        }
        .item-name{
            font-size: 17px;
            width: calc(100% - 70px);
        }
        .item-price{
            font-size: 17px;
            float: right;
        }
    }
}

.join-details {
  color: var(--cs-text-accent) !important;
}