<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="dismiss({})" class="width-28">
    </ion-buttons>         
  </ion-toolbar>
  <ion-title>
    <span class="item-name"><ng-container *ngIf="item.parent_id > 0">{{parent.name}} - </ng-container>{{item.name}}</span>
    <span class="item-price">{{endPrice}} &euro;</span>
    <p class="ion-text ion-no-margin ion-padding-left search-bar-subtitle">{{item.descr}}</p>
  </ion-title>
</ion-header>

<ion-content>

  <ion-list>
    <!--ion-list-header class="ion-padding-top ion-padding-bottom">
      <h1 class="text-size-md font-regular text-color-accent ion-no-margin">
        {{data.header}}</h1>
    </ion-list-header-->
    <ul class="collapsible ion-no-margin ion-no-padding">
      <li *ngFor="let join of item.joins; let ind = index;">
        <!-- Expandable Full image with CTA Header-->
        <!-- DA VERIFICARE PARAMETRO NULL-->
        <div class="collapsible-header" (click)="toggleGroup(join, null)">
          <ion-item lines="none" class="default-item">
            <ion-label>
              <h2 class="text-size-md font-bold text-color-primary">{{join.nome}}</h2>
              <p class="join-details" *ngIf="result.joins[ind].details.length">
                <span *ngFor="let det of result.joins[ind].details; let x = index">
                  <span *ngIf="join.typecustom == TipoCustom.MENU && det.selected">{{det.selected.name}}</span>
                  <span *ngIf="join.typecustom == TipoCustom.CHECKLIST || join.typecustom == TipoCustom.RADIOLIST">{{det.cd_descr}}</span>
                  <br *ngIf="x < result.joins[ind].details.length-1">
                </span>
              </p>
              <p class="item-subtitle" text-wrap *ngIf="join.required || (join.typecustom == 1 && join.min > 0)">(* Richiesto)</p>
              <!-- DA VERIFICARE PROP errormin<p style="color: red" *ngIf="join.typecustom == 1 && errorMinMax">{{errorMinMax}}</p>-->												
              <p style="font-size: 0.75em;" *ngIf="join.typecustom == 1 && (join.min > 0 || join.max > 0)"> 
                Seleziona 
                <span *ngIf="join.min == join.max">{{join.min}} </span>
                <span *ngIf="join.min != join.max">
                  <span *ngIf="join.min > 0 && join.max == 0">almeno </span>
                  <span *ngIf="join.min > 0 && join.max > 0">da </span>
                  <span *ngIf="join.min > 0">{{join.min}} </span>													
                  <span *ngIf="join.min > 0 && join.max > 0">a </span>												
                  <span *ngIf="join.min == 0 && join.max > 0">al massimo </span>
                  <span *ngIf="join.max > 0">{{join.max}} </span>
                </span>
                <span *ngIf="(join.min == 1 && join.max == 0) || (join.min == 0 && join.max == 1) 
                      || (join.min == join.max && join.min == 1)">scelta</span>
                <span *ngIf="join.min > 1 || join.max > 1">scelte</span>
              </p>
            </ion-label>
            <i slot="end" class="icon icon-chevron-right accent-color icon-font-md"></i>
          </ion-item>
        </div>
        <!-- Expandable Full image with CTA Body -->
        <div class="item-accordion" [ngClass]="{'active': join.show }" [hidden]="!join.show">
          <ng-container *ngIf="join.typecustom == TipoCustom.MENU">
            <ion-item class="default-item" lines="none" *ngFor="let detail of join.details; let i = index;">
              <ion-label class="ion-padding-start text-size-md font-bold text-color-primary">{{detail.descrcd}} <span *ngIf="detail.required">*</span></ion-label>
              <ion-select [(ngModel)]="result.joins[ind].details[i].selected" multiple="false" interface="popover" placeholder="Seleziona">
                <ion-select-option *ngFor="let it of detail.subitems" [value]="it">{{it.name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ng-container>
          <ng-container *ngIf="join.typecustom == TipoCustom.CHECKLIST">
            <ng-container *ngFor="let joinRecordCheckCustom of join.details">
              <ng-container *ngIf="!joinRecordCheckCustom.newcust">
                <!-- DA VERIFICARE PROP GROUP
                  <ion-item class="default-item" lines="none" *ngFor="let item of group.items;" (click)="checkDetail(joinRecordCheckCustom, ind, joinRecordCheckCustom.newcust);">
                  <ion-checkbox [checked]="joinRecordCheckCustom.checked"></ion-checkbox>
                  <ion-label class="ion-padding-start text-size-md font-bold text-color-primary">
                    {{joinRecordCheckCustom.cd_descr}}<br> <strong *ngIf="joinRecordCheckCustom.price > 0">+ {{joinRecordCheckCustom.price}} &euro; </strong>
                  </ion-label>
                </ion-item>-->
              </ng-container>
              <ng-container *ngIf="joinRecordCheckCustom.newcust">
                <ng-container *ngFor="let detIngredient of joinRecordCheckCustom.menudetaillist; let j = index;">
                  <ion-item class="default-item" lines="none" *ngIf="detIngredient.attivo == 1" (click)="checkDetail(detIngredient, ind, joinRecordCheckCustom.newcust)">
                    <ion-checkbox [checked]="detIngredient.checked" [disabled]="join.max > 0 && result.joins[ind].details.length == join.max && isChecked(detIngredient, ind) == -1"></ion-checkbox>
                    <ion-label class="ion-padding-start text-size-md font-bold text-color-primary">
                      {{detIngredient.cd_descr}}<br> <strong *ngIf="detIngredient.price > 0">+ {{detIngredient.price}} &euro; </strong>
                    </ion-label>
                  </ion-item>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="join.typecustom == TipoCustom.RADIOLIST">
            <ng-container *ngFor="let joinRecordCheckCustom of join.details; let i = index;">
              <ion-item class="default-item" lines="none" *ngIf="!joinRecordCheckCustom.newcust" (tap)="updateSelection(i, joinRecordCheckCustom, ind)">
                <ion-radio [checked]="isCheckedR(joinRecordCheckCustom.id, ind)"></ion-radio>
                <ion-label class="ion-padding-start text-size-md font-bold text-color-primary">
                  {{joinRecordCheckCustom.cd_descr}}<br> <strong *ngIf="joinRecordCheckCustom.price > 0">+ {{joinRecordCheckCustom.price}} &euro; </strong>
                </ion-label>
              </ion-item>
              <ng-container *ngIf="joinRecordCheckCustom.newcust">
                <ion-radio-group>
                  <ng-container *ngFor="let detIngredient of joinRecordCheckCustom.menudetaillist; let j = index;">
                    <ion-item class="default-item" lines="none" *ngIf="detIngredient.attivo == 1" (click)="updateSelection(j, joinRecordCheckCustom, ind)">
                      <ion-radio [value]="detIngredient.id"></ion-radio>
                      <ion-label class="ion-padding-start text-size-md font-bold text-color-primary">
                        {{detIngredient.cd_descr}}<br> <strong *ngIf="detIngredient.price > 0">+ {{detIngredient.price}} &euro; </strong>
                      </ion-label>
                    </ion-item>
                  </ng-container>
                </ion-radio-group>
              </ng-container>
            </ng-container>
          </ng-container>
          <!--ng-container *ngIf="join.typecustom == TipoCustom.MENU">
            <ion-item class="default-item" lines="none" *ngFor="let item of group.items;" (tap)="onEvent('onCheckBoxClick', item, $event);">
              <ion-checkbox [checked]="item.isChecked"></ion-checkbox>
              <ion-label class="ion-padding-start text-size-md font-bold text-color-primary">{{item.title}}</ion-label>
            </ion-item>
          </ng-container-->
        </div>
      </li>
      <li>
        <div class="collapsible-header" (click)="toggleGroup(notes, 1)">
          <ion-item class="default-item" lines="none">
            <ion-label><h2 class="text-size-md font-bold text-color-primary">Note aggiuntive</h2></ion-label>
            <i slot="end" class="icon icon-chevron-right accent-color icon-font-md"></i>
          </ion-item>
        </div>
        <div class="item-accordion" [ngClass]="{'active': notes.show}" [hidden]="!notes.show">   
          <ion-item class="default-item" lines="none">          
            <ion-textarea class="form-control ing-textarea" rows="3" style="margin-bottom: 20px;" [(ngModel)]="notes.text" 
                          placeholder="Comunica al ristoratore se vuoi togliere un ingrediente, per esempio perché sei allergico">
            </ion-textarea>
          </ion-item>
        </div>
      </li>
    </ul>
  </ion-list>
</ion-content>
<ion-footer lines="none">
  <ion-row>
    <ion-col size="4" class="ion-text-center">
      <div lines="none" class="eit-cart-btbar ion-text-center default-button">
        <ion-button slot="start" icon-only class="add-btn" (click)="removeQty()">
          <ion-icon name="remove-circle-outline" class="accent-color"></ion-icon>
        </ion-button>
        <span class="qty accent-color">{{result.qty}}</span>
        <ion-button slot="end" icon-only class="add-btn end-btn" (click)="addQty()">
          <ion-icon name="add-circle-outline" class="accent-color"></ion-icon>
        </ion-button>
      </div>
    </ion-col>
    <ion-col size="8" class="ion-text-center">
      <ion-button class="default-button" *ngIf="item != null" type="button" (click)="addToCartModal()">Aggiungi al carrello</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
