<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="goBack()" class="width-28">
    </ion-buttons>       
    <h1 class="ion-text-center text-size-sm">Le tue <br/> prenotazioni recenti</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul class="collapsible ion-no-margin ion-no-padding">
    <li *ngFor="let book of bookings; let i = index;">
      <ion-card>
        <div class="collapsible-header" (click)="toggleGroup(book)">
          <ion-row>
            <ion-col size="5">
              <h2>
                Prenotazione
              </h2>
              <p>#{{book.id}}</p>  
            </ion-col>
            <ion-col size="5">
              <h2>Il {{book.book_date}} alle {{book.book_hours}}</h2>
              <p>{{book.n_coperti}} posti</p>
            </ion-col>
            <ion-col size="2">
              <img src="assets/imgs/chevron-64.png">
            </ion-col>
          </ion-row>
        </div>
        <div class="item-accordion ion-text-left" [ngClass]="{'active': book.show }" [hidden]="!book.show">  
          <ion-row [ngSwitch]="book.status">
            <ion-col *ngSwitchCase="1" class="ion-text-center">
              <ion-button class="default-button" *ngIf="!book.old" (click)="cancelbook(book)">Annulla</ion-button>											
              <p *ngIf="book.old"> - </p>
            </ion-col>
            <ion-col *ngSwitchCase="2">Annullato il {{book.datamodifica}} alle {{book.oramodifica}}</ion-col>
            <ion-col *ngSwitchCase="3">Annullato in data {{book.datamodifica}} alle {{book.oramodifica}}</ion-col>
          </ion-row>
        </div>
      </ion-card>
    </li>
  </ul>
</ion-content>
<ion-footer>
  <ion-button class="default-button" expand="block" type="button" (click)="nextclick()">Carica altri</ion-button>
</ion-footer>

