ion-toolbar{
    h1{
        font-size: 25px !important;
        font-weight: bold !important;
        margin-top: 15px !important;
        margin-bottom: 8px !important;
    }
}

ion-footer{
    padding: 10px;
}