<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="dismiss({})" class="width-28">
    </ion-buttons>    
    <h1 class="ion-text-center text-size-sm font-regular">
      Orario di <span *ngIf="isDomicilio; else asporto">consegna</span><ng-template #asporto>ritiro</ng-template>
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-radio-group [(ngModel)]="orarioscelto">
    <ion-item class="default-item" lines="none" *ngFor="let orario of elencoorari">
      <ion-radio [value]="orario.value"></ion-radio>
      <ion-label class="ion-padding-start text-size-md font-bold text-color-primary">{{orario.label}}</ion-label>
    </ion-item>
  </ion-radio-group>   
</ion-content>

<ion-footer class="transparent-footer ion-no-border">    
  <ion-button class="default-button" expand="block" (click)="onComplete()">Applica</ion-button>
</ion-footer>