ion-toolbar{
    h1{
        font-size: 25px !important;
        font-weight: bold !important;
        margin-top: 15px !important;
        margin-bottom: 8px !important;
    }
}

ion-content{
    --background: var(--cs-background-secondary);
}

.white-tb{
    --background: var(--cs-background-secondary);
    --padding-start: 30px;
    --padding-end: 30px;
    ion-icon{
        font-size: 38px;
    }
    h2{
        color: var(--cs-text-accent);
        font-weight: bold;
    }
}

.selected{
    img{
        border-bottom: 2px solid var(--cs-background-accent);
        padding-bottom: 5px;
    }
}

.calendar-header {
    background-color: var(--cs-background-secondary);
    color: var(--cs-text-accent);
    margin-top: 20px;
    font-weight: bold;
    img {
        width: 20px;
    }
}
.calendar-body {
    padding: 0 30px;
    .calendar-weekday, .calendar-date {
        text-align: center;
        margin: 0;
    }
    .calendar-weekday {
        font-weight: bold;
        background-color: var(--cs-background-secondary);
        color: var(--cs-text-accent);
    }
    .calendar-date {
        border-bottom: 1px solid var(--cs-background-accent);
        ion-col{
            border: solid var(--cs-background-accent);
            border-width: 1px 0 0 1px;
            color: var(--cs-text-accent);
        }
    }
    .last-month, .next-month {
        color: #999999;
        font-size: 90%;
    }
    .selected-date {
        font-weight: bold;
        background-color: var(--cs-background-accent);
        color: var(--cs-background-secondary) !important;
        .currentDate {
            font-weight: bold;
            border: 1px solid var(--cs-background-secondary);
            border-radius: 30px;
            padding: 4px;
        }
    }
    .currentDate {
        font-weight: bold;
        border: 1px solid var(--cs-text-accent);
        border-radius: 30px;
        padding: 4px;
    }
    ion-col {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 14.285714285714286%;
        width: 14.285714285714286%;
        max-width: 14.285714285714286%;
        text-align: center;
        padding: 5px;
    }    
    .border-left-white{
        background: var(--cs-background-secondary);
        position: absolute;
        width: 1px;
        height: 100%;
        z-index: 2;
    }
} 
.tables-btn-wizard {
    display: inline;
    .default-button {
        border: 1px solid var(--cs-background-accent);
        border-radius: 0;
        padding: 20px;
        margin: 5px;
        background: var(--cs-background-secondary);
        color: var(--cs-text-accent);
    }
    .btn-selected{
        background: var(--cs-background-accent);
        color: var(--cs-background-secondary);
    }
}

.cart-bar {
    max-width: 40px !important;
}

ion-label h2, ion-label h1{
    font-size: 13px !important;
    line-height: 14px !important;
    color: #786755 !important;
    font-weight: bold !important;
    margin: 5px 0 !important;
    letter-spacing: 0px !important;
}

ion-label h3, ion-label p.item-subtitle {
    font-size: 13px !important;
    line-height: 14px !important;
    font-weight: normal !important;
    color: #786755 !important;
    margin: 5px 0 !important;
    letter-spacing: 0px !important;
}

ion-label p.item-subtitle {
    line-height: 14px !important;
    font-style: italic !important;
    font-size: 12px !important;
}

ion-avatar {
    height: 96px !important;
    width: 96px !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0px 0 !important;
    border-radius: 0px !important;
    overflow: visible;
    display: flex;
}

ion-avatar img{
    border-radius: 0px !important;
    max-height: 100%;
    height: 60px;
    width: auto;
    border-radius: 50% !important;
    margin: auto !important;
}

.image-item{
    align-items: center;
    display: inline-flex;
}

ion-content{
    ion-card{
        box-shadow: none !important;
        margin-top: 4px !important;
        margin-bottom: 4px !important;
        padding: 0px;        
    }
}

.varItem{
    padding: 0 16px;
}

ion-footer::before{
    background-image: none !important;
}

.add-btn{
    --background: transparent;
    --padding-end: 0;
    --padding-start: 0 !important;
    --box-shadow: none;
    --color: var(--gray);
    font-size: 20px;
}
ion-segment-button{
    --background: var(--cs-background-accent) !important;
    font-family: 'Akzidenz';
    font-size: 20px;
    padding-bottom: 0;
}
ion-segment {
    background: var(--cs-background-accent) !important;
}
.item-activated{
    text-decoration: underline !important;
    --indicator-height: 0;
}
.segment-button-indicator{
    opacity: 0 !important;
}

ion-footer{
    padding: 10px;
}