<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="goBack()" class="width-28">
    </ion-buttons>          
    <h1 class="ion-text-center text-size-sm">Prenota un tavolo</h1>
  </ion-toolbar>
  <ion-toolbar class="white-tb">
    <h2 class="ion-text-center ctm-m-t-24">{{getTitle()}}</h2>
    <ion-row>
      <ion-col class="ion-text-center" (click)="selectTab(0)" [ngClass]="{'selected': currentTab == 0}">
        <img src="assets/imgs/calendario-72.png" class="width-36">
      </ion-col>
      <ion-col class="ion-text-center" (click)="selectTab(1)" [ngClass]="{'selected': currentTab == 1}">
        <img src="assets/imgs/orologio-black-72.png" class="width-36">
      </ion-col>
      <ion-col class="ion-text-center" (click)="selectTab(2)" [ngClass]="{'selected': currentTab == 2}">
        <img src="assets/imgs/persone-72.png" class="width-36">      
      </ion-col>
      <ion-col class="ion-text-center" (click)="selectTab(3)" [ngClass]="{'selected': currentTab == 3}" *ngIf="enabledWithMenu">
        <img src="assets/imgs/menu-72.png" class="width-36">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="currentTab == 0">
    <div class="calendar-header ion-text-center">
      <img src="assets/imgs/left-arrow-72.png" (click)="goToLastMonth()">
      {{currentMonth}} {{currentYear}}
      <img src="assets/imgs/right-arrow-72.png" (click)="goToNextMonth()">
    </div>
    <div class="calendar-body">
      <ion-grid>
        <ion-row class="calendar-weekday">
          <ion-col *ngFor="let day of week_days">{{day}}</ion-col>
        </ion-row>
        <ion-row class="calendar-date">
          <div class="border-left-white"></div>
          <ion-col *ngFor="let lastDay of daysInLastMonth" class="last-month">{{lastDay}}</ion-col>
          <ion-col *ngFor="let day of daysInThisMonth" (click)="selectDate(day)" [ngClass]="{'last-month': isInPast(day), 'selected-date': isSelected(day)}">
            <span [ngClass]="{'currentDate': isToday(day)}">{{day}}</span>
          </ion-col>
          <ion-col *ngFor="let nextDay of daysInNextMonth" class="next-month">{{nextDay}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-container>
  <div *ngIf="currentTab == 1" style="padding: 30px 30px 0;">
    <h4 *ngIf="!fascepranzo.length && !fascecena.length" >Non è possibile prenotare per la data selezionata!</h4>   
    <h2 class="ion-text-center text-color-primary">Pranzo</h2>
    <h2 class="ion-text-center text-color-primary" *ngIf="!fascepranzo.length && fascecena.length">Non ci sono posti disponibili per Pranzo!</h2>
    <div>
      <div *ngFor="let timeslots of fascepranzo" class="tables-btn-wizard">
        <button [disabled]="!timeslots.posti_rimanenti" class="default-button" expand="block" [ngClass]="{'btn-selected' : timeselected == timeslots.orario}"
            (click)="acceptorario(timeslots)">
          {{timeslots.orario}}
        </button>
      </div>
    </div>      
    <h2 class="ion-text-center text-color-primary">Cena</h2>
    <h2 *ngIf="!fascecena.length && fascepranzo.length" class="ion-text-center"> Non ci sono posti disponibili per Cena! </h2>
    <div>
      <div *ngFor="let timeslots of fascecena" class="tables-btn-wizard" >
        <button [disabled]="!timeslots.posti_rimanenti" class="default-button" expand="block" [ngClass]="{'btn-selected' : timeselected == timeslots.orario}" 							 
            (click)="acceptorario(timeslots)">
          {{timeslots.orario}}
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="currentTab == 2" style="padding: 30px 30px 0;">
    <div class="ion-text-center">
      <div [hidden]="!numpeoplearray.length" *ngFor="let npeople of numpeoplearray" class="tables-btn-wizard">
        <button [disabled]="!npeople.posti_rimanenti" class="default-button" expand="block" [ngClass]="{'btn-selected' : numpeopleselected == npeople.num}"
                (click)="acceptnpeople(npeople.num)">
            {{npeople.num}}													
        </button>
      </div>
      <div [hidden]="numpeoplearray.length || !timeselected">Non ci sono posti disponibili per quest'ora!</div>
    </div>  
  </div>
  <ng-container *ngIf="currentTab == 3 && enabledWithMenu">
    <ion-segment scrollable [(ngModel)]="selectedCat" [ngClass]="{activeTB: isActive}" id="segmentHeader">
      <ion-segment-button *ngFor="let category of menu.categories; let i = index;" value="{{i}}" class="text-center"
        [ngClass]="{'item-activated': selectedCat == i}" id="btnh-{{i}}">
        <ion-card class="border-radius" *ngIf="category.media"
          [ngStyle]="{'background-image': 'url(' + appInfo.ASSETS_URL + category.media.filename + ')'}"></ion-card>
        {{category.name}}
      </ion-segment-button>
    </ion-segment>
    <ion-grid class="ion-no-padding" *ngIf="menu && menu.categories && menu.categories[selectedCat]">
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding" size="12">    
          <ng-container *ngFor="let element of menu.categories[selectedCat].items; let i = index">
            <ng-container *ngIf="element.attivo && null == element.varianti">
              <ion-card class="margin-half box-shadow border-radius">
                <ion-item class="transparent ion-no-padding" lines="none">
                  <ion-avatar slot="start">
                    <img src="assets/imgs/img-piatto.jpg" alt="Image" *ngIf="element.media_id < 1" />
                    <img class="no-border-radius" [src]="appInfo.ASSETS_URL + element.media.filename_small"
                      *ngIf="element.media_id > 0" alt="Image" />
                  </ion-avatar>
                  <ion-label>    
                    <h1 class="text-size-md text-color-primary font-bold ion-text-wrap">
                      {{element.name}}</h1>
                    <p class="ion-no-margin ion-no-padding text-size-sm  font-bold item-subtitle ion-text-wrap">
                      <small>{{shortDescr(element)}}</small> {{longDescr(element)}}{{ingredients(element)}}
                    </p>
                    <h2 class="text-size-md text-color-primary font-bold ion-text-wrap">
                      {{element.price}} &euro;</h2>    
                  </ion-label>    
                  <ion-label slot="end" class="overflow-visible ion-no-padding cart-bar">                     
                    <ion-button class="ion-float-end" fill="clear" (click)="addToCart(element, null)">
                      <ion-icon class="icon-font-lg text-color-primary" slot="icon-only" name="add-circle-outline">
                      </ion-icon>
                    </ion-button>
                  </ion-label>
                </ion-item>    
              </ion-card>    
              <ng-container
                *ngIf="element.attivo &&  cartBookData != null && cartBookData.order != null && cartBookData.order.items != null && cartBookData.order.items[element.id] != null">
                <ng-container *ngFor="let elCart of cartBookData.order.items[element.id]">    
                  <ion-card class="margin-half box-shadow border-radius">
                    <ion-item class="transparent" lines="none">                       
                      <ion-label>    
                        <h2 class="text-size-md text-color-primary font-bold ion-text-wrap">
                          {{elCart.name}}</h2>
                        <p *ngIf="elCart.details && elCart.details.length == 0 && elCart.extradetails && elCart.extradetails.length == 0 && elCart.subitems && elCart.subitems.length == 0"
                          class="ion-margin-top ion-padding-top text-size-sm  font-bold ion-text-wrap">
                          {{elCart.descr}}
                        </p>
                        <p *ngFor="let detail of elCart.details">+ {{detail.name}}</p>
                        <p *ngFor="let extradetail of elCart.extradetails">+ {{extradetail.name}}</p>
                        <ng-container *ngFor="let subitem of elCart.subitems">
                          <p *ngIf="subitem.name">+ {{subitem.name}}</p>
                          <ng-container *ngIf="!subitem.name">
                            <p *ngFor="let subit of subitem">+ {{subit.name}}</p>
                          </ng-container>
                        </ng-container>
                        <ion-badge class="ion-badge-light">{{elCart.qty}} x {{elCart.endprice}} &euro;</ion-badge>
                        <ion-button class="ion-float-end ion-no-padding" fill="clear" (click)="removeToCartP(elCart)">
                          <ion-icon class="icon-font-lg text-color-primary" slot="icon-only" name="remove-circle-outline">
                          </ion-icon>
                        </ion-button>
                        <ion-button class="ion-float-end ion-no-padding" fill="clear" (click)="addToCartP(elCart)">
                          <ion-icon class="icon-font-lg text-color-primary" slot="icon-only" name="add-circle-outline">
                          </ion-icon>
                        </ion-button>
                      </ion-label>
                    </ion-item>    
                  </ion-card>    
                </ng-container>
              </ng-container>
            </ng-container>    
            <ng-container *ngIf="element.attivo && null != element.varianti">
              <ion-card class="margin-half box-shadow border-radius">    
                <ion-item class="transparent" lines="none">
                  <ion-avatar slot="start">
                    <img src="assets/imgs/img-piatto-generica.png" alt="Image" *ngIf="element.media_id < 1" />
                    <img class="no-border-radius" [src]="appInfo.ASSETS_URL + element.media.filename_small"
                      *ngIf="element.media_id > 0" alt="Image" />
                  </ion-avatar>
                  <ion-label>    
                    <h1 class="text-size-md text-color-primary font-bold ion-text-wrap">
                      {{element.name}}</h1>
                    <p class="item-subtitle ion-no-margin ion-no-padding text-size-sm  font-bold ion-text-wrap">
                      <small>{{shortDescr(element)}}</small> {{longDescr(element)}}{{ingredients(element)}}
                    </p>
                  </ion-label>
                </ion-item>    
                <ion-item class="transparent" lines="none" *ngFor="let variante of element.varianti" (click)="addToCart(element, variante)">
                  <ion-label>    
                    <h1 class="text-size-md text-color-primary font-bold ion-text-wrap">{{variante.name}}</h1>                      
                    <h2 class="text-size-md text-color-primary font-bold ion-text-wrap">{{variante.price}} &euro;</h2>    
                  </ion-label>
                  <ion-label slot="end" class="overflow-visible ion-no-padding cart-bar">                  
                    <ion-button class="ion-float-end" fill="clear">
                      <ion-icon class="icon-font-lg text-color-primary" slot="icon-only" name="add-circle-outline">
                      </ion-icon>
                    </ion-button>
                  </ion-label>
                </ion-item>    
              </ion-card>
              <ng-container *ngFor="let variante of element.varianti">
              <ng-container
              *ngIf="variante.attivo &&  cartBookData != null && cartBookData.order != null && cartBookData.order.items != null && cartBookData.order.items[variante.id] != null">
              <ng-container  *ngFor="let elCart of cartBookData.order.items[variante.id]">    
                <ion-card class="margin-half box-shadow border-radius">
                    <ion-item class="transparent" lines="none">
                      
                      <ion-label>
  
                        <h2 class="text-size-md text-color-primary font-bold ion-text-wrap">
                          {{elCart.name}}</h2>
                        <p *ngIf="elCart.details && elCart.details.length == 0 && elCart.extradetails && elCart.extradetails.length == 0 && elCart.subitems && elCart.subitems.length == 0"
                          class="ion-margin-top ion-padding-top text-size-sm  font-bold ion-text-wrap">
                          {{elCart.descr}}
                        </p>
                        <p *ngFor="let detail of elCart.details">+ {{detail.name}}</p>
                        <p *ngFor="let extradetail of elCart.extradetails">+ {{extradetail.name}}</p>
                        <ng-container *ngFor="let subitem of elCart.subitems">
                          <p *ngIf="subitem.name">+ {{subitem.name}}</p>
                          <ng-container *ngIf="!subitem.name">
                            <p *ngFor="let subit of subitem">+ {{subit.name}}</p>
                          </ng-container>
                        </ng-container>
                        <ion-badge class="ion-badge-light ion-no-padding">{{elCart.qty}} x {{elCart.endprice}} &euro;</ion-badge>
                        <ion-button class="ion-float-end" fill="clear" (click)="removeToCartP(elCart)">
                          <ion-icon class="icon-font-lg text-color-primary" slot="icon-only" name="remove-circle-outline">
                          </ion-icon>
                        </ion-button>
                        <ion-button class="ion-float-end ion-no-padding" fill="clear" (click)="addToCartP(elCart)">
                          <ion-icon class="icon-font-lg text-color-primary" slot="icon-only" name="add-circle-outline">
                          </ion-icon>
                        </ion-button>
                      </ion-label>
  
                      <!--ion-label slot="end" class="overflow-visible ion-no-padding cart-bar">
  
                        <ion-button class="ion-float-end" fill="clear" (click)="removeToCartP(elCart)">
                          <ion-icon class="icon-font-lg text-color-primary" slot="icon-only" name="remove-circle-outline">
                          </ion-icon>
                        </ion-button>
  
                        <div class="clearfix"></div>
                        <ion-button class="ion-float-end" fill="clear" (click)="addToCartP(elCart)">
                          <ion-icon class="icon-font-lg text-color-primary" slot="icon-only" name="add-circle-outline">
                          </ion-icon>
                        </ion-button>
                      </ion-label-->
                    </ion-item>
  
                  </ion-card>
                </ng-container>
            </ng-container>
          </ng-container>
          </ng-container>
        </ng-container>
        </ion-col>
      </ion-row>
  
    </ion-grid>
  </ng-container>
</ion-content>
<ion-footer>
  <ion-button class="default-button" expand="block" (click)="goOn()" *ngIf="(enabledWithMenu && currentTab < 3) || (!enabledWithMenu && currentTab < 2)" 
              [disabled]="!isBtEnabled()">
    Avanti
  </ion-button>
  <ion-button class="default-button" expand="block" (click)="goToCart()" *ngIf="enabledWithMenu && currentTab == 3 && withMenu()" [disabled]="!isBtEnabled()">
    Carrello
  </ion-button>
  <ion-button class="default-button" expand="block" (click)="goToCheckout()" *ngIf="(enabledWithMenu && currentTab == 3 && withMenu()) || (!enabledWithMenu && currentTab == 2)" 
              [disabled]="!isBtEnabled()">
    Vai al checkout
  </ion-button>
  <ion-button class="default-button" expand="block" (click)="goToCheckout()" *ngIf="enabledWithMenu && currentTab == 3 && !withMenu()" [disabled]="!isBtEnabled()">
    Salta
  </ion-button>
</ion-footer>
