ion-toolbar{
      h1{
          font-size: 25px !important;
          font-weight: bold !important;
          margin-top: 15px !important;
          margin-bottom: 8px !important;
      }
}

ion-content{
    --background: var(--cs-background-secondary);
    .default-button{
        --border-radius: 8px !important;
        font-weight: bold;
        font-size: 18px;
        text-transform: none !important;
        margin: 20px;
    }
    h2{
        color: var(--cs-text-accent);
        margin: 50px 0 30px 0;
    }
    ion-badge{
        font-size: 18px;
    }
}
ion-footer{
    padding: 10px;

    .default-button{
        --border-radius: 8px !important;
        font-weight: bold;
        font-size: 18px;
        text-transform: none !important;
        width: 100%;
        display: block;
    }
}

ion-footer::before{
    background-image: none !important;
}
.fidelity-card-container{
    padding: 0 17px;    
    height: 220px;
    margin: 40px;
    max-width: 100%;
    position: relative;
    border-radius: 20px;
    background-color: var(--cs-text-accent);
    img {
        position: absolute;
        width: 100px;
        right: -3px;
        top: -4px;
        border-top-right-radius: 30px;        
    }
    h4{
        color: var(--red);
        text-align: left;
        padding-top: 31px;
        font-weight: bold;
        font-size: 27px;
    }
    p{
        position: absolute;
        bottom: 10px;
        left: 20px;
        right: 20px;
        color: var(--cs-background-secondary);
        text-align: left;
    }
}