<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="goBack()" class="width-28">
    </ion-buttons>    
    <h1 class="ion-text-center text-size-sm">Carta Fedeltà</h1>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <div class="fidelity-card-container ctm-m-t-24">
    <h4>{{formData.eatpoints}} Punti</h4>
    <img src="assets/imgs/logo.png">
    <p *ngIf="!couponAvailable">Ti mancano {{n}} punti per aggiudicarti il tuo prossimo buono sconto.</p>
    <p *ngIf="couponAvailable">Scarica il tuo buono sconto!</p>
  </div>
</ion-content>
<ion-footer *ngIf="couponAvailable">
  <ion-button class="default-button" (click)="downloadCoupon()">Scarica il tuo coupon!</ion-button>
</ion-footer>
