<ion-app>
  <!-- Header -->
  <ion-header class="ctm-p-b-10">
    <ion-toolbar class="transparent header-toolbar">
      <ion-buttons slot="start" class="previous-btn">
        <img src="assets/imgs/freccia-sx-72.png" (click)="dismiss({})" class="width-28">
      </ion-buttons>      
      <ion-title class="ion-text-center">
        <img class="app-logo" src="assets/imgs/logo.png" />
      </ion-title>
    </ion-toolbar>

    <ion-toolbar class="transparent address-bar">
      <div class="login-container">
        <h1 class="text-size-md">Recupera password</h1>
        <ion-row>
          <ion-col>
            <ion-input [(ngModel)]="item.email" type="email" placeholder="Email" *ngIf="step == 0" class="text-input"></ion-input>
            <ion-input [(ngModel)]="item.code" type="text" placeholder="Codice di recupero" *ngIf="step == 1" class="text-input"></ion-input>
            <ion-input [(ngModel)]="item.password" type="password" placeholder="Nuova Password" *ngIf="step == 2" class="text-input"></ion-input>
          </ion-col>

          <ion-col size="2">
            <div (click)="onFormClicked()">
              <img src="assets/imgs/conferma-64.png" class="check-img">
            </div>
          </ion-col>          
        </ion-row>
      </div>
    </ion-toolbar>
  </ion-header>

  <!-- Content -->
  <ion-content class="transparent">
    <div class="footer-bg-img"></div>
  </ion-content>
</ion-app>