/* SETTINGS RTL STYLE
=======================================================
=======================================================*/

html[dir=rtl] {

  .ion-padding-end {
    padding-right: 16px;
  }

  /* SETTINGS CARD
      =======================================================*/
  cs-google-card-list-layout-1 {
    ion-card {
      &.background-size {
        background-position: 40px center !important;
      }

      .info-section {
        right: unset !important;
        left: 0 !important;
      }

      ion-card-content {
        right: unset !important;
        left: 0 !important;
        width: 0 !important;
        transform: translateX(0%) !important;
      }

      &.active {
        ion-card-content {
          transform: translateX(100%) !important;
          width: 100% !important;
          padding-left: 56px;
          padding-right: 16px !important;
        }
      }
    }
  }

cs-google-card-list-layout-2 {
  .new-category {
    position: absolute;
    bottom: 16px;
    left: unset !important;
    right: 0;
    z-index: 999;
  }

  .border-radius-right {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}


  /* SETTINGS ACTION SHEET
      =======================================================*/
cs-action-sheet-layout-1 {

  .border-radius-right {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

  /* SETTINGS INPUT FIELD
      =======================================================*/
  .input {
    ion-icon {
      left: 25px;
      right: unset !important;
    }
  }

  /* SETTINGS COMMENTS WITH TIMELINE
      =======================================================*/
  cs-comment-layout-2 {
    ion-item {
      &:before {
        left: unset;
        right: 50px;
      }
    }
  }
  /* SETTINGS TABS
    =======================================================*/
  ion-tabs {

    app-tab1  {
        .padding-half-start {
          padding-left: 0 !important;
          padding-right: 8px;
        }

        .padding-half-end {
          padding-right: 0 !important;
          padding-left: 8px;
        }
      }

    app-tab5 {
      ion-list > ion-item::before {
        left: auto !important;
        right: 50px;
      }
    }
  }
  /* SETTINGS TIMELINE
    =======================================================*/
  cs-timeline-layout-1,
  cs-timeline-layout-3 {
    ion-card {
      &:after {
        right: -30px;
        left: unset;
      }

      &:before {
        right: -36px;
        left: unset;
      }
    }
  }

  cs-timeline-layout-2 {
    .item-thumbnail {
      &:after {
        right: -30px;
        left: unset;
      }

      &:before {
        right: -36px;
        left: unset;
      }
    }
  }

  /* SETTINGS PROFILE
      =======================================================*/
  cs-profile-layout-5 {

    .slider {
      ion-card {
        margin: 0 8px 0 0 !important;
      }
    }
  }

  /* SETTINGS ALERT
    =======================================================*/
  .alert-button-group {
    padding: 8px 8px 8px 0 !important;
  }
}
