ion-grid,
ion-row {
  height: 100%;
}

ion-item {
  --background: transparent;
}

.app-logo{
  max-width: 70% !important;
  max-height: 120px;
}

.ios {
  ion-back-button,
  ion-menu-button {
    --color: var(--cs-text-accent, #2ABDCE);
  }
}
.primary-menu{
  --color: var(--cs-text-primary);
}

ion-title{
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-toolbar{
  background-color: var(--cs-background-accent) !important;
}

.address-bar h1{
  font-size: 27px !important;
  font-weight: bold !important;
  margin-top:5px !important;
  margin-bottom:5px !important;
  padding-left: 36px;
}

.home-bt h2
{
  margin-top:5px !important;
  margin-bottom:5px !important;
  font-weight: bold !important;
}

ion-searchbar input
{
  background-color: #fff !important;
}

p{
  font-size: 11px;
  color: var(--cs-text-primary);
}
h4{
  color: var(--cs-text-primary);
}
ion-back-button{
    --color: #fff;
}

ion-input{
    height: 30px;
    --background: #fff;
    border-radius: 8px !important;
    --placeholder-color: var(--cs-text-primary) !important;
    --color: var(--cs-text-primary) !important;
}
.icon-col{
    padding-top: 2px;
    ion-icon{
        color: #fff;
        font-size: 34px;
    }
}
.login-container{
  ion-row{
      padding: 0 30px;
  }

  ion-button{
    display: block;
    width: 70%;
    height: 30px;
  }

  .check-img {
    width: 30px;
  }

  a {
    color: var(--cs-text-light) !important;
  }

  .text-input {
    --placeholder-color: var(--cs-background-border) !important;
    color: var(--cs-text-accent) !important;
  }
}

.toggle-menu-btn {
  position: absolute;
  right: 0px;
}


