<ion-app>
  <!-- Header -->
  <ion-header class="ctm-p-b-10">
    <ion-toolbar class="transparent header-toolbar">
      <ion-buttons slot="start" class="previous-btn">
        <img src="assets/imgs/freccia-sx-72.png" (click)="goBack()" class="width-28">
      </ion-buttons>      
      <ion-title class="ion-text-center">
        <img class="app-logo" src="assets/imgs/logo.png" />
      </ion-title>
      <ion-buttons slot="end" class="toggle-btn-right">
        <ion-menu-button class="color-white"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-toolbar class="transparent address-bar text-center">
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col class="ion-text-center home-bt">
          <img text-center src="assets/imgs/domicilio-72.png" (click)="takeawayClick()" class="width-36">
          <h2 class="ion-text-center text-size-sm text-color-light font-regular">
            Menu</h2>
        </ion-col>
        <ion-col class="ion-text-center home-bt">
          <img text-center src="assets/imgs/asporto-72.png" (click)="takeawayClick()" class="width-36">
          <h2 class="ion-text-center text-size-sm text-color-light font-regular">
            Asporto</h2>
        </ion-col>
        <ion-col class="ion-text-center home-bt">
          <img text-center src="assets/imgs/home-72.png" (click)="deliveryClick()" class="width-36">
          <h2 class="ion-text-center text-size-sm text-color-light font-regular">
            Domicilio</h2>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>      

      <div class="login-container">
        <h1 class="text-size-md ctm-m-t-16">Accedi</h1>
        <ion-row>
          <ion-col size="5">
            <ion-input [(ngModel)]="item.username" type="email" placeholder="Username" class="text-input"></ion-input>
          </ion-col>
          <ion-col size="5">
            <ion-input [(ngModel)]="item.password" type="password" placeholder="Password" class="text-input"></ion-input>
          </ion-col>
          <ion-col size="2">
            <div (click)="login()">
              <img src="assets/imgs/conferma-64.png" class="check-img">
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="10">
            <a (click)="recover()">Password dimenticata?</a> 
            <a (click)="register()" class="ion-float-right text-color-primary"><strong>Registrati</strong></a>
          </ion-col>
        </ion-row>
      </div>
    </ion-toolbar>
  </ion-header>

  <!-- Content -->
  <ion-content class="transparent">
    <div class="footer-bg-img"></div>
  </ion-content>  
</ion-app>