ion-toolbar{
  h1{
    font-size: 25px !important;
    font-weight: bold !important;
    margin-bottom: 20px !important;
  }
}
.form-container{
  ion-row{
    padding: 0 30px;
    width: 100%;
    height: 42px;
  }

  ion-button{
    --background: transparent;
    --box-shadow: none;
    --padding-top: 0 !important;
    margin: 0;
  }
  
  a{
    color: #fff;
  }
  ion-input{
    height: 30px;
    border-radius: 8px !important;
    --background: #fff;
    --placeholder-color: var(--cs-background-border) !important;
    color: var(--cs-text-accent) !important;
  }
  h2{
    font-size: 20px !important;
    margin-top: 0;
    margin-bottom: 0;
  }

  .check-img {
    width: 30px;
  }    
}
.icon-col{
  padding-top: 2px;
  display: flex;
  align-items: center;
  ion-button{
    --box-shadow: none;
    --padding-top: 0 !important;
    margin: 0;
    --border-radius: 50%;
    width: 32px;
    height: 32px;
    --padding-start: 0;
    --padding-bottom: 0;
    --padding-end: 0;
    --background: #fff;
    margin-top: 2px;
  }
}
ion-content{
  --background: var(--cs-background-secondary);
}
ion-footer{
  background: var(--cs-background-secondary);
  padding: 10px;
}