<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="dismiss()" class="width-28">
    </ion-buttons>    
  </ion-toolbar>
  <ion-toolbar class="transparent">
    <div class="ion-text-center">
      <img src="assets/imgs/coupon-150.png" class="width-60">
      <h1 class="ion-text-center text-size-sm">Coupon</h1>
    </div>
  </ion-toolbar>  

  <ion-toolbar class="transparent ion-margin-bottom">
    <div class="form-container">
      
      <ion-row *ngIf="!showCouponMessage">
        <ion-col size="10">
          <ion-input [(ngModel)]="item.codice" type="text" placeholder="Inserisci qui il codice sconto"></ion-input>
        </ion-col>
        <ion-col size="2">
          <div (click)="onApplyCouponClicked()">            
            <img src="assets/imgs/conferma-64.png" class="check-img">
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="showCouponMessage" class="ion-text-center">
        <ion-col size="10"><h2>Coupon applicato:<br>{{toReturn.codice}}</h2></ion-col>
        <ion-col size="2">
          <div (click)="onRemoveCouponClicked()">            
            <img src="assets/imgs/annulla-red-64.png" class="check-img">
          </div>
        </ion-col>
      </ion-row>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>

<ion-footer class="ion-no-border">    
  <ion-button class="default-button" expand="block" (click)="dismiss()">Torna al carrello</ion-button>
</ion-footer>