<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu side="start" contentId="main-content" type="overlay">
      <!-- Settings Toolbar -->
      <ion-header class="background-size"
      [ngStyle]="{'background-image': 'url(' + headerMenuItem.background + ')'}">
          <ion-item class="transparent ion-text-center" lines="none">
            <ion-label class="ion-text-center text-size-md text-color-primary font-bold ion-text-wrap">
                <img [src]="headerMenuItem.image">
                {{headerMenuItem.title}}
            </ion-label>
          </ion-item>
      </ion-header>
      <!-- Content -->
      <ion-content>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="12" class="ion-no-padding">
              <!-- Menu List -->
              <ion-list>
                <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                  <ion-item class="default-item" lines="none" [routerDirection]="'root'" (click)="openPage(p)">
                    <i slot="start" class="icon {{p.icon}} icon-font-sm icon-color-accent"></i>
                    <ion-label>
                      <h1 class="text-size-md text-color-primary font-regular ion-padding-start">{{p.title}}</h1>
                    </ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
