<ion-header>
  <ion-toolbar class="transparent header-toolbar">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="dismiss({})" class="width-28">
    </ion-buttons>      
    <ion-title class="ion-text-center">
      <img class="app-logo" src="assets/imgs/logo.png" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="transparent">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-padding-horizontal" size="12" size-md="8" push-md="2">        
        <form class="ion-margin-vertical ion-padding-vertical">

          <h1 class="text-size-lg text-color-primary font-bold ion-text-wrap ion-text-uppercase">Crea un nuovo account</h1>

          <!---Input field email-->
          <ion-item class="ion-no-padding" input lines="none">
            <ion-input required type="email" placeholder="Email" [(ngModel)]="item.email" [ngModelOptions]="{standalone: true}" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
            </ion-input>
            <ion-icon *ngIf="!valid.email" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
          </ion-item>

          <!---Input field name-->
          <ion-item class="ion-no-padding" input lines="none">
            <ion-input required type="text" placeholder="Nome" [(ngModel)]="item.name" [ngModelOptions]="{standalone: true}">
            </ion-input>
            <ion-icon *ngIf="!valid.name" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
          </ion-item>

          <!---Input field lastname-->
          <ion-item class="ion-no-padding" input lines="none">
            <ion-input required type="text" placeholder="Cognome" [(ngModel)]="item.lastname" [ngModelOptions]="{standalone: true}">
            </ion-input>
            <ion-icon *ngIf="!valid.lastname" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
          </ion-item>

          <!---Input field phone-->
          <ion-item class="ion-no-padding" input lines="none">
            <ion-input required type="text" placeholder="Telefono" [(ngModel)]="item.phone" [ngModelOptions]="{standalone: true}">
            </ion-input>
            <ion-icon *ngIf="!valid.phone" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
          </ion-item>

          <!---Input field password-->
          <ion-item class="ion-no-padding" input lines="none">
            <ion-input required type="password" placeholder="Password" [(ngModel)]="item.password" [ngModelOptions]="{standalone: true}">
            </ion-input>
            <ion-icon *ngIf="!valid.password" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
          </ion-item>

          <!---Register button-->
          <ion-button class="default-button box-shadow ion-margin-top" expand="block" (click)="register()">Registrati</ion-button>

          <p class="text-size-sd text-color-primary font-regular">
            Continuando confermo di aver letto e accettato
            <a text-capitalize ion-text color="primary" stile="font-size:16px !important;" (click)="terms()"
              >Termini e Condizioni</a
            > e <a text-capitalize ion-text color="primary" stile="font-size:16px !important;" (click)="privacy()"
            >Politica sulla Privacy</a>
          </p>

        </form>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
