.app-logo{
  max-width: 70% !important;
  max-height: 150px;
}

ion-content {
  
    ion-grid,
    ion-row {
      height: 100%;
  
      img {
        max-width: 170px;
        max-height: 40px;
        margin: 0 auto;
      }
  
      ion-item {
        --inner-padding-end: 0;
      }
  
      form {
        padding: 16px 24px;        
        background: var(--cs-background-secondary, #fff);
  
        ion-item {
          ion-input {
            margin-top: 8px;
            border-radius: 6px !important;
            --min-height: 30px;
            text-align: left;
            --padding-start: 8px !important;
            --padding-end: 8px;
            --background: var(--gray-light);
            --placeholder-color: var(--gray) !important;
            color: var(--cs-text-accent) !important;
            font-weight: bold;    
          }
  
          ion-icon {
            position: absolute;
            right: 8px;
            bottom: 13px;
            z-index: 999;
          }
  
          ion-label {
            transform: none;
            margin: 5px 0 0 0 !important;
          }
        }
      }
    }
  }
  
ion-header {
  ion-toolbar {
    padding-top: 10px;
    padding-bottom: 5px;
  }
}
.primary-menu{
  --color: var(--cs-text-primary);
}