<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="goBack()" class="width-28">
    </ion-buttons>      
    <h1 class="ion-text-center">I tuoi ordini recenti</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul class="collapsible ion-no-margin ion-no-padding">
    <li *ngFor="let order of orders; let i = index;">
      <ion-card class="ion-margin-vertical">
        <div class="collapsible-header" (click)="toggleGroup(order)">
          <ion-row>
            <ion-col size="5">
              <h2>
                Ordine 
                <ng-container *ngIf="order.type_order == typeOrder.EIT_DOMICILIO || order.type_order == typeOrder.REST_DOMICILIO; else asporto"> a domicilio</ng-container>
                <ng-template #asporto> da asporto</ng-template>
              </h2>
              <p>#{{order.id}}</p>  
            </ion-col>
            <ion-col size="5">
              <h2>{{order.data_ordine_dmy}} {{order.real_delivery_time}}</h2>
              <p>&euro; {{(order.euro_total + order.credit).toFixed(2)}}</p>
            </ion-col>
            <ion-col size="2">
              <img src="assets/imgs/chevron-64.png">
            </ion-col>
          </ion-row>
        </div>
        <div class="item-accordion ion-text-left" [ngClass]="{'active': order.show }" [hidden]="!order.show">  
          <ion-row *ngFor="let recitem of order.items">
            <ion-col style="font-size: 0.9em;">
              <div *ngIf="0==recitem.parent_id">
                <strong>{{recitem.qty}} x {{recitem.name}}</strong>
                <div *ngIf="recitem.joins == 0 || !recitem.subJoins">
                  <div *ngFor="let subitem of recitem.subitems">
                    <span><em>&nbsp;&nbsp;&nbsp;&nbsp;- {{subitem.name}}</em></span>
                  </div>
                </div>
                <div *ngFor="let ordertmp of order.items">
                  <div *ngIf="ordertmp.parent_id == recitem.id">
                    <span *ngIf="ordertmp.typecustom != 3"
                      style="font-size: 0.875em;"> &nbsp;&nbsp;&nbsp;&nbsp;<strong>Con
                        aggiunta di:</strong> <em>&nbsp;&nbsp;&nbsp;&nbsp;-
                        {{ordertmp.name}}</em>
                    </span> <span *ngIf="ordertmp.typecustom == 3"
                      style="font-size: 0.875em;"> &nbsp;&nbsp;&nbsp;&nbsp;<strong>Con
                        selezione di:</strong> <em>&nbsp;&nbsp;&nbsp;&nbsp;-
                        {{ordertmp.name}}</em>
                    </span>
                  </div>
                </div>
                <div *ngIf="recitem.joins == 1 && recitem.subJoins">
                  <div *ngFor="let subitem of recitem.subitems">
                    <span style="font-size: 0.875em;"> &nbsp;&nbsp;&nbsp;&nbsp;<strong>Opzione
                        {{subitem[0].name_custom}}:</strong>
                    </span> <br />
                    <div *ngFor="let sub of subitem">
                      <span style="font-size: 0.875em;"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-
                          {{sub.name}}</em></span>
                    </div>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <h2>
            <span class="f-w-normal m-l-5">Totale ordine: &euro;</span> {{(order.euro_total + order.credit).toFixed(2)}}
          </h2>
          <h2 [ngSwitch]="order.payment_id">
            <span class="f-w-normal m-l-5">Metodo di pagamento</span>: 
            <strong *ngSwitchCase="payType.CARD">Carta di Credito.</strong>
            <strong *ngSwitchCase="payType.PAYPAL">PayPal.</strong>
            <strong *ngSwitchCase="payType.SATISPAY">Satispay.</strong>
            <strong *ngSwitchCase="payType.CREDIT">Credito.</strong>
            <strong *ngSwitchCase="payType.MONEY">Contanti.</strong>
            <strong *ngSwitchCase="payType.INLIRE">InLire.</strong>
            <strong *ngSwitchCase="payType.TICKET">Ticket.</strong>
          </h2>
        </div>
      </ion-card>
    </li>
  </ul>
</ion-content>
<ion-footer>
  <ion-button class="default-button" expand="block" type="button" (click)="nextclick()">Carica altri</ion-button>
</ion-footer>
