.collapsible-header {
    padding: 8px 8px 0;
  
    .default-item {
      width: 100% !important;
      margin: 0 !important;
    }
    h2{
        font-size: 15px !important;
    }
}
/* SETTINGS ACCORDIAN "OPEN" */
.item-accordion {
    max-height: 0;
    display: block !important;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    overflow: hidden;

    &.active {
        -moz-transition: all 400ms;
        -ms-transition: all 400ms;
        -o-transition: all 400ms;
        -webkit-transition: all 400ms;
        transition: all 400ms;
        overflow: visible;
        max-height: 999px;
        padding: 10px;
    }
}
.default-item{
    color: var(--cs-text-accent);
    --background: transparent;
    h2{
        font-size: 15px !important;
        color: var(--cs-text-accent);
        font-weight: 700;
        margin: 0;
    }
}

img{
    width: 25px;
    height: 25px;
}
ion-content{
    --background: #fff;
    .m-l-5 {
        margin-left: 5px !important;
    }
}
ul{
    margin: 40px 20px;
    list-style: none;
}
ion-footer{
    padding: 10px;
}
ion-footer::before{
    background-image: none !important;
}
.arrow-img{
    transition: all ease-in-out .5s;
    transform: rotate(-90deg);
    ion-icon{
        font-size: 30px;
    }
}
.rotate180{
    transform: rotate(-270deg);
}
ion-card{
    box-shadow: none;
    --background: var(--gray-light) !important;
    --color: var(--cs-text-accent);
    border-radius: 12px;
    p{
        margin: 0;
        color: var(--cs-text-accent);
    }
    h2{
        font-size: 15px !important;
        color: var(--cs-text-accent);
        font-weight: 700;
        margin: 0;
    }
}
ion-toolbar{
    h1{
        font-size: 25px !important;
        font-weight: bold !important;
        margin-top: 15px !important;
        margin-bottom: 8px !important;
    }
}