.line-toolbar{
    padding: 0 60px;
    --min-height: 20px;

    ion-row{
        border-top: 1px solid;
        margin: 0 10px;
    }

    .dot{
        height: 10px;
        width: 10px;
        background: #fff;
        display: block;
        border-radius: 50%;
        position: absolute;
        top: -5px;
        left: calc(50% - 5px);
        opacity: .5;
    }

    .dot.active{
        opacity: 1;
    }

    ion-col:first-child{
        .dot{
            left: -10px;
        }
    }

    ion-col:last-child{
        .dot{
            right: -10px;
            left: auto;
        }
    }
}
.steps-toolbar{
    padding: 0 30px;
    font-size: 14px;
    --min-height: 30px;
    ion-col{
        text-align: center;
        opacity: .5;
    }
    ion-col:first-child{
        text-align: left;
    }
    ion-col:last-child{
        text-align: right;
    }
    ion-col.active{
        opacity: 1;
    }
}

.info-toolbar {
    padding: 10px 25px;

    .info-container{
        background: #fff;
        border-radius: 8px;
        padding: 0;
    }

    ion-item{
        color: var(--cs-text-accent);
    }

    h2{
        font-size: 13px;
        display: inline-block;
        margin-top: 10px;
        line-height: 1.3;
    }
    ion-avatar{
        box-shadow: none !important;
        width: 33px;
        height: 33px;
        display: inline-block;
        img{
            object-fit: contain;
        }
    }
    ion-button{
        text-transform: none;
        --color: #000;
        --background: transparent;
        --box-shadow: none !important;
        font-weight: normal;
        font-size: 12px;
    }
}

ion-toolbar{
    h1{
        font-size: 25px !important;
        font-weight: bold !important;
        margin-bottom: 10px !important;
        line-height: normal;
    }
}

ion-content{
    --background: var(--cs-background-secondary);
    --padding-start: 30px !important;
    --padding-end: 30px !important;
    --padding-top: 30px !important;
    --padding-bottom: 30px !important;
    color: var(--cs-text-accent) !important;
    h2{
        color: var(--cs-text-accent);
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 0 !important;
    }
    h3{
        color: var(--cs-text-accent) !important;
        font-size: 18px;
        font-weight: 700;
    }
    h4{
        font-size: 16px;
    }
    h5, p{
        font-size: 13px;
    }
    h4, h5, p{
        color: var(--cs-text-accent) !important;
    }
    .d-flex{
        display: flex;
        align-items: center;

        ion-badge{
            margin-left: auto;
        }
    }
    .rest-card{
        box-shadow: none;
        border-bottom: 1px solid var(--cs-background-accent);
        border-radius: 0 !important;
        padding-bottom: 10px;
    }
    .mt{
        margin-top: 16px;
    }
    ion-card{
        box-shadow: none;
        --background: transparent !important;
        margin-left: 0px;
        margin-right: 0px;
        h5{
            margin-bottom: 5px;
            margin-top: 5px;
            font-weight: bold;
        }
        p{
            margin: 0 !important;
        }
    }

    .paid{
        padding: 30px;
        font-weight: 700;
    }
    .big-img{
        max-height: 50vh;
    }
    .small-img{
        max-height: 200px;
        margin-top: 20px;
    }
}

ion-footer{
    padding: 10px;
    background: var(--cs-background-accent2);
    bottom: 0;

    p{
        margin: 5px 10px;
        font-size: 13px;
    }
    ion-item{
        --min-height: 20px !important;
    }
}
ion-footer::before{
    background-image: none !important;
}
ion-header{
    ion-toolbar{
        h1:after {
            position: absolute;
            left: 0;
            bottom: -7px;
            width: 100%;
            height: 1px;
            border-bottom: 4px solid #000;
            content: ""
        }
    }
}
ion-buttons{
    img{
        height: 20px;
    }
}