<ion-header class="ctm-p-b-10">
  <ion-toolbar class="transparent ion-text-center">
    <ion-buttons slot="start" class="previous-btn" *ngIf="cartData.order.status != orderStatus.PAID">
      <img src="assets/imgs/freccia-sx-72.png" (click)="onGotoHome()" class="width-28">
    </ion-buttons>       
    <ion-buttons slot="end" style="width: 48px;" *ngIf="cartData.order.status != orderStatus.PAID">
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="transparent">

    <!-- Wait for order confirm -->
    <div class="ion-text-center" *ngIf="cartData.order.status == orderStatus.PAID">
      <img src="assets/imgs/ricarica-150.png" class="width-60">
      <h1 class="text-size-sm text-color-light font-regular">
        Resta in attesa che il tuo<br> ordine venga confermato
      </h1>
    </div>  

    <!-- Your order has been confirmed -->
    <div class="ion-text-center" *ngIf="cartData.order.status == orderStatus.ACCEPTED || 
    cartData.order.status == orderStatus.ACCEPTED_NOTIFIED || 
    cartData.order.status == orderStatus.PREORDERED">
      <img src="assets/imgs/conferma-white-150.png" class="width-60">
      <h1 class="text-size-sm text-color-light font-regular" >
        Il tuo ordine <br> è stato confermato!
      </h1>
    </div>

    <!-- Your order is refused -->
    <div class="ion-text-center" *ngIf="cartData.order.status == orderStatus.REJECTED || 
    cartData.order.status == orderStatus.REJECTED_NOTIFIED || 
    cartData.order.status == orderStatus.NO_RESPONSE || 
    cartData.order.status == orderStatus.NO_RESPONSE_NOTIFIED">
      <img src="assets/imgs/annulla-150.png" class="width-60">
      <h1 class="text-size-sm text-color-light font-regular">
        <span *ngIf="cartData.order.status == orderStatus.REJECTED || cartData.order.status == orderStatus.REJECTED_NOTIFIED">Il tuo ordine è rifiutato</span>
        <span *ngIf="cartData.order.status == orderStatus.NO_RESPONSE || cartData.order.status == orderStatus.NO_RESPONSE_NOTIFIED">Lo Chef non ha <br>risposto all'ordine</span>
      </h1>
    </div>

  </ion-toolbar>
</ion-header>


<ion-content *ngIf="cartData">
  <ng-container *ngIf="cartData.order.status == orderStatus.PAID">
    <h3 class="ion-text-center">
      <strong>NON</strong> tornare indietro alla pagina precedente e <strong>NON</strong> chiudere la app, altrimenti il tuo ordine potrebbe non arrivare al ristorante.
    </h3>
  </ng-container>

  <ng-container *ngIf="cartData.order.status == orderStatus.ACCEPTED || cartData.order.status == orderStatus.ACCEPTED_NOTIFIED || cartData.order.status == orderStatus.PREORDERED">
    <h3 class="ion-text-center">Riepilogo del tuo ordine</h3>

    <ng-container *ngFor="let elCartArray of items">
      <ion-card lines="none" *ngFor="let elCart of elCartArray.value">
        <h5 class="ion-text-wrap">{{elCart.name}}</h5>
        <p class="ion-text-wrap" *ngIf="elCart.details && elCart.details.length == 0 && elCart.extradetails && elCart.extradetails.length == 0 && elCart.subitems && elCart.subitems.length == 0">
          <small>{{elCart.descr}}</small>
        </p>
        <p *ngFor="let detail of elCart.details">+ {{detail.name}}</p>
        <p *ngFor="let extradetail of elCart.extradetails">+ {{extradetail.name}}</p>
        <ng-container *ngFor="let subitem of elCart.subitems">
          <p *ngIf="subitem.name">+ {{subitem.name}}</p>
          <ng-container *ngIf="!subitem.name">
            <p *ngFor="let subit of subitem">+ {{subit.name}}</p>
          </ng-container>
        </ng-container>
        <h5><strong>{{elCart.qty}} x {{elCart.endprice}} &euro;</strong></h5>
      </ion-card>
    </ng-container>

    <h2>Totale ordine: <strong>{{cartData.order.euro_total.toFixed(2)}} &euro;</strong></h2>
    <h2 class="ion-no-margin" [ngSwitch]="cartData.order.payment_id">
      Metodo pagamento: 
      <strong *ngSwitchCase="payType.CARD">Carta di Credito.</strong>
      <strong *ngSwitchCase="payType.PAYPAL">PayPal.</strong>
      <strong *ngSwitchCase="payType.SATISPAY">Satispay.</strong>
      <strong *ngSwitchCase="payType.CREDIT">Credito.</strong>
      <strong *ngSwitchCase="payType.MONEY">Contanti.</strong>
      <strong *ngSwitchCase="payType.INLIRE">InLire.</strong>
      <strong *ngSwitchCase="payType.TICKET">Ticket.</strong>
    </h2>
  </ng-container>
  <ng-container *ngIf="cartData.order.status == orderStatus.REJECTED || cartData.order.status == orderStatus.REJECTED_NOTIFIED || 
                       cartData.order.status == orderStatus.NO_RESPONSE || cartData.order.status == orderStatus.NO_RESPONSE_NOTIFIED">
    <h3>
      Verrai richiamato da un nostro collaboratore!<br />Non preoccuparti! Se hai pagato con carta di
      credito o paypal sarai rimborsato!
    </h3>
    <h4>Grazie per aver ordinato su {{appInfo.APP_NAME}}!</h4>
  </ng-container>
</ion-content>
<ion-footer *ngIf="cartData.order.status == orderStatus.REJECTED || cartData.order.status == orderStatus.REJECTED_NOTIFIED || 
                   cartData.order.status == orderStatus.NO_RESPONSE || cartData.order.status == orderStatus.NO_RESPONSE_NOTIFIED">
  <ion-button class="default-button" expand="block" (click)="reactivateorder()">Reinvia l'ordine!</ion-button>
</ion-footer>
