<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="dismiss({})" class="width-28">
    </ion-buttons>      
    <div class="ion-text-center ion-margin-vertical">
      <img src="assets/imgs/attesa.png" class="width-60">   
      <h1 class="ctm-no-margin">Attenzione!</h1>
    </div>      
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container [ngSwitch]="type">
    <h1 *ngSwitchCase="utilityType.OFFLINE">Attenzione!<br> Controlla la connessione Internet!</h1>
    <h1 *ngSwitchCase="utilityType.ADDRESS">Inserisci un indirizzo valido!</h1>
    <h1 *ngSwitchCase="utilityType.MINORDER">Ordine minimo di {{info.ordineminimo}}€ non raggiunto!</h1>
  </ng-container>
</ion-content>

<ion-footer class="transparent-footer">    
  <ion-button class="default-button" expand="block" (click)="dismiss({})">Torna indietro</ion-button>
</ion-footer>