
ion-footer{
    padding: 10px;

    .default-button{
        --border-radius: 8px !important;
        font-weight: bold;
        font-size: 18px;
        text-transform: none !important;
    }

}
ion-footer::before{
    background-image: none !important;
}
ion-content{
    --background: var(--cs-background-secondary);
    --padding-start: 25px;
    --padding-end: 25px;
    h1{
        font-size: 25px !important;
        font-weight: bold !important;
        color: var(--cs-text-accent);
        text-align: center;
        margin-top: 50px !important;
    }
}