ion-toolbar{
    h1{
        font-size: 25px !important;
        font-weight: bold !important;
        margin: 20px 0 !important;
        line-height: normal;
    }
}
.info-container {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 24px;
    background: var(--cs-background-accent);
    border-radius: 8px;
    padding: 0;

    ion-item{
        color: var(--cs-background-secondary);
        --background: var(--cs-background-accent);
        --border-radius: 8px;
    }

    h2{
        font-size: 16px;
        display: inline-block;
        margin-top: 10px;
        line-height: 1.3;
        font-weight: bold;
    }
    h3 {
        font-size: 16px;
        display: inline-block;
        margin-top: 10px;
        line-height: 1.3;
        margin-right: 50px;
    }
    ion-avatar{
        box-shadow: none !important;
        width: 33px;
        height: 33px;
        display: inline-block;
        border-color: var(--cs-background-accent2);
        img{
            object-fit: contain;
        }
    }
    ion-button{
        text-transform: none;
        --color: #000;
        --background: transparent;
        --box-shadow: none !important;
        font-weight: normal;
        font-size: 12px;
    }
}

ion-content{
    --background: var(--cs-background-secondary);
}

form{
    padding: 16px 25px;

    ion-item{
        --padding-start: 16px;
        --padding-end: 16px;
        position: relative;
    }
    
    ion-label{
        align-self: start !important;
        color: var(--cs-text-accent) !important;
        font-weight: bold !important;
        font-size: 18px !important
    }
    
    ion-input, ion-textarea{
        margin-top: 8px;
        border-radius: 6px !important;
        --min-height: 30px;
        text-align: left;
        --padding-start: 8px !important;
        --padding-end: 8px;
        --background: var(--gray-light);
        --placeholder-color: var(--gray) !important;
        color: var(--cs-text-accent) !important;
    }
    
    ion-textarea{
        --min-height: 60px;
    }
    
    ion-icon{
        position: absolute;
        bottom: 10px;
        z-index: 8;
        right: 20px;
    }    
}

ion-footer{
    padding: 10px;

    p{
        margin: 5px 10px;
        font-size: 13px;
    }
    ion-item{
        --min-height: 20px !important;
    }
}
ion-footer::before{
    background-image: none !important;
}