<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="goBack()" class="width-28">
    </ion-buttons>      
    <h1 class="ion-text-center text-size-sm">Riepilogo <br/> prenotazione</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="info-container">
    <ion-item lines="none"><h2 slot="start">Ristorante:</h2><h3 slot="end"> {{bookData.book.restname}}</h3></ion-item>
    <ion-item lines="none"><h2 slot="start">Giorno:</h2><h3 slot="end"> {{bookData.book.book_date}}</h3></ion-item>
    <ion-item lines="none"><h2 slot="start">Alle ore:</h2><h3 slot="end"> {{bookData.book.book_hours}}</h3></ion-item>
    <ion-item lines="none"><h2 slot="start">N<sup>o</sup> posti:</h2><h3 slot="end"> {{bookData.book.n_coperti}}</h3></ion-item>
    <ion-item lines="none" *ngIf="withMenu()"><h2 slot="start">Totale menu da pagare:</h2><h3 slot="end"> {{cartBookData.order.euro_total}} &euro;</h3></ion-item>
  </div>
  
  <form class="ion-margin-vertical ion-text-center ion-padding-vertical">
    <ion-item class="ion-no-padding ion-text-center" input lines="none">
      <ion-label class="text-size-sd font-regular" position="stacked">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="bookData.book.name" [ngModelOptions]="{standalone: true}">
      </ion-input>
      <ion-icon *ngIf="!valid.name" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
    </ion-item>
    <ion-item class="ion-no-padding ion-text-center" input lines="none">
      <ion-label class="text-size-sd font-regular" position="stacked">Cognome</ion-label>
      <ion-input type="text" [(ngModel)]="bookData.book.lastname" [ngModelOptions]="{standalone: true}">
      </ion-input>
      <ion-icon *ngIf="!valid.lastname" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
    </ion-item>
    <ion-item class="ion-no-padding ion-text-center" input lines="none">
      <ion-label class="text-size-sd font-regular" position="stacked">Email</ion-label>
      <ion-input type="text" [(ngModel)]="bookData.book.email" [ngModelOptions]="{standalone: true}">
      </ion-input>
      <ion-icon *ngIf="!valid.email" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
    </ion-item>
    <ion-item class="ion-no-padding ion-text-center" input lines="none">
      <ion-label class="text-size-sd font-regular" position="stacked">Telefono</ion-label>
      <ion-input type="text" [(ngModel)]="bookData.book.phone" [ngModelOptions]="{standalone: true}">
      </ion-input>
      <ion-icon *ngIf="!valid.phone" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
    </ion-item>
    <ion-item class="ion-no-padding ion-text-center" input lines="none">
      <ion-label class="text-size-sd font-regular" position="stacked">Note</ion-label>
      <ion-textarea type="text" [(ngModel)]="bookData.book.note" [ngModelOptions]="{standalone: true}">
      </ion-textarea>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-button class="default-button" expand="block" (click)="onComplete()">
    <span *ngIf="withMenu(); else complete">Vai al pagamento</span><ng-template #complete>Completa prenotazione</ng-template>
  </ion-button>
</ion-footer>
