<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="dismiss()" class="width-28">
    </ion-buttons>      
    <h1 class="ion-text-center text-size-sm">Cancella prenotazione</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="ion-text-center ctm-m-t-24 text-color-primary" *ngIf="booking.status == BookStatus.CONFIRMED && prenotazionenoneliminabile()">
    La tua prenotazione n.{{booking.id}} non pu&ograve; essere cancellata!
  </h3>	
  <h3 class="ion-text-center ctm-m-t-24 text-color-primary" *ngIf="booking.status == BookStatus.CANCELLED_BY_USER">
    La tua prenotazione su {{booking.restname}} è stata <strong>ANNULLATA</strong>!
  </h3>	
  <h3 class="ion-text-center ctm-m-t-24 text-color-primary" *ngIf="booking.status == BookStatus.CANCELLED_BY_RESTAURANT">
    La tua prenotazione su {{booking.restname}} risulta essere <strong>ANNULLATA</strong>!
  </h3>	
  <h3 class="ion-text-center ctm-m-t-24 text-color-primary">Riepilogo Prenotazione</h3>	
  <div class="info-container">
    <ion-item lines="none"><h2 slot="start">Ristorante:</h2><h3 slot="end"> {{booking.restname}}</h3></ion-item>
    <ion-item lines="none"><h2 slot="start">Giorno:</h2><h3 slot="end"> {{booking.book_date}}</h3></ion-item>
    <ion-item lines="none"><h2 slot="start">Alle ore:</h2><h3 slot="end"> {{booking.book_hours}}</h3></ion-item>
    <ion-item lines="none"><h2 slot="start">N<sup>o</sup> posti:</h2><h3 slot="end"> {{booking.n_coperti}}</h3></ion-item>
    <ion-item lines="none"><h2>Note:</h2><h3> {{booking.note}}</h3></ion-item>
    <ion-item lines="none" *ngIf="booking.status == BookStatus.CANCELLED_BY_USER">
      <h2 slot="start">&Egrave; stata annullata da te in data <em>{{booking.datamodifica}}</em> alle ore <em>{{booking.oramodifica}}</em>.</h2>
    </ion-item>
    <ng-container *ngIf="booking.status == BookStatus.CANCELLED_BY_RESTAURANT">
      <ion-item lines="none">
        <h2 slot="start">&Egrave; stata annullata dal locale in data <em>{{booking.datamodifica}}</em> alle ore <em>{{booking.oramodifica}}</em>.</h2>
      </ion-item>
      <ion-item lines="none">
        <h2 slot="start">Motivazione</h2>
        <h3 slot="end">{{booking.reasoncancellation}}</h3>
      </ion-item>
    </ng-container>
  </div>
  <ng-container *ngIf="booking.status == BookStatus.CONFIRMED && prenotazionenoneliminabile()">
    <h3 class="ion-text-center text-color-primary">Attenzione!</h3>
    <p class="ion-text-center text-color-primary">
      Non &egrave; pi&ugrave; possibile eliminare manualmente la prenotazione.<br> 
    </p> 	      
  </ng-container>
</ion-content>

<ion-footer class="transparent-footer" *ngIf="booking.status == BookStatus.CONFIRMED && !prenotazionenoneliminabile()">    
  <ion-button class="default-button" expand="block" (click)="bookingcancellation()">Annulla Prenotazione</ion-button>
</ion-footer>