<ion-app>
  <!-- Header -->
  <ion-header class="ctm-p-b-10">
    <ion-toolbar class="transparent header-toolbar">
      <ion-buttons slot="start" class="toggle-btn">
        <ion-menu-button class="color-white"></ion-menu-button>
      </ion-buttons>      
      <ion-title class="ion-text-center">
        <img class="app-logo" src="assets/imgs/logo.png" />
      </ion-title>
    </ion-toolbar>  

    <ion-toolbar class="transparent">
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col class="ion-text-center home-bt">
          <img text-center src="assets/imgs/domicilio-72.png" (click)="takeawayClick()" class="width-36">
          <h2 class="ion-text-center text-size-sm text-color-light font-regular">
            Menu</h2>
        </ion-col>
        <ion-col class="ion-text-center home-bt">
          <img text-center src="assets/imgs/asporto-72.png" (click)="takeawayClick()" class="width-36">
          <h2 class="ion-text-center text-size-sm text-color-light font-regular">
            Asporto</h2>
        </ion-col>
        <ion-col class="ion-text-center home-bt">
          <img text-center src="assets/imgs/home-72.png" (click)="deliveryClick()" class="width-36">
          <h2 class="ion-text-center text-size-sm text-color-light font-regular">
            Domicilio</h2>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <div (click)="searchPlace()">
        <h1 class="ion-text-center ctm-m-t-16">Inserisci il tuo indirizzo</h1>
        <ion-searchbar class="eit-gsearch" [(ngModel)]="query" disabled="true" placeholder="Via, corso, etc...">
        </ion-searchbar>
      </div>    
    </ion-toolbar>
  </ion-header>

  <!-- Content -->
  <ion-content class="transparent">
    <div class="footer-bg-img"></div>
  </ion-content>

</ion-app>