ion-grid,
ion-row {
  height: 100%;
}

ion-item {
  --background: transparent;
}

.app-logo{
  max-width: 70% !important;
  max-height: 90px;
}
ion-toolbar {
  color: var(--cs-text-accent, #2ABDCE);
}

.ios {
  ion-back-button,
  ion-menu-button {
    --color: var(--cs-text-accent, #2ABDCE);
  }
}
.primary-menu{
  --color: var(--cs-text-primary);
}
.d-none{
  display: none;
}

.address-bar
{
  padding-top: 16px;
  background-color: var(--cs-background-accent2) !important;
  color: var(--cs-text-primary);
  /*position: absolute;
  bottom: 0px;*/
}

.address-bar h1{
  font-size: 27px !important;
  font-weight: bolder !important;
  margin-top:5px !important;
  margin-bottom:5px !important;
  letter-spacing: 0px;
}

.home-bt h2
{
  margin-top:5px !important;
  margin-bottom:5px !important;
  font-weight: bolder !important;
}

ion-searchbar {
  border-radius: 8px !important;
  --placeholder-color: var(--cs-background-accent) !important;    
  --icon-color: var(--cs-background-accent) !important;
  color: var(--cs-text-accent) !important;
  input {
    background-color: #fff !important;
    padding-inline-start: 40px !important;
    padding-inline-end: 35px !important;
    font-size:15px !important;
  }
}

.searchbar-disabled.sc-ion-searchbar-md-h
{
  opacity: 1 !important;
}

p{
  font-size: 11px;
  color: var(--cs-text-primary);
}
h4{
  color: var(--cs-text-primary);
  font-weight: bolder!important;
}
h5{
  font-size: 14px !important;
  color: #786755;
  font-weight: bolder!important;
  margin: 0px !important;
}

ion-title{
  padding-top: 10px;
  padding-bottom: 10px;
}