<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="goToHome()" class="width-28">
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img class="ion-text-center app-logo" src="assets/imgs/logo.png" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="ion-text-center text-color-primary font-bold ctm-m-t-24">Tavolo prenotato!</h2>
  <p class="ion-text-center text-color-primary font-bold">Riceverai a breve un'email riepilogativa con tutti i dettagli della prenotazione.</p>
  <div class="info-container">
    <h1 class="ion-text-center font-bold ion-padding-top">Riepilogo prenotazione</h1>
    <ion-item lines="none"><h2 slot="start">Hai prenotato da {{bookData.book.restname}}</h2></ion-item>
    <ion-item lines="none"><h2 slot="start">per il giorno {{bookData.book.book_date}}</h2></ion-item>
    <ion-item lines="none"><h2 slot="start">alle ore {{bookData.book.book_hours}}</h2></ion-item>
    <ion-item lines="none"><h2 slot="start">in totale {{bookData.book.n_coperti}} posti</h2></ion-item>
    <ion-item lines="none"><h2 slot="start">a nome di {{bookData.book.name}} {{bookData.book.lastname}}.</h2></ion-item>
    <ng-container *ngIf="withMenu()">
      <ion-item lines="none" style="margin-top: 20px;"><h2 slot="start">Hai ordinato:</h2></ion-item>
      <ion-grid class="cart-container" *ngIf="cartBookData && cartBookData.order && cartBookData.order.items">
        <ion-row *ngFor="let elCartArray of items">
          <ion-col size="12" size-md="12" *ngFor="let elCart of elCartArray.value">
            <ion-card class="border-radius ion-no-margin rest-card">
              <ion-row>
                <ion-col size="2" class="background-size transparent ion-no-padding image-item" lines="none">
                  <img src="assets/imgs/img-piatto.jpg" alt="Image" *ngIf="elCart.imagefile == ''" />
                  <img *ngIf="elCart.imagefile != ''" [src]="appInfo.ASSETS_URL + elCart.imagefile"/>
                </ion-col>
                <ion-col size="10" class="ion-align-self-center transparent ion-no-padding descr-item" lines="none" style="padding: 0 10px;">              
                  <h2 class="ion-text-wrap">{{elCart.name}}</h2>
                  <h3 class="ion-text-wrap" *ngIf="elCart.details && elCart.details.length == 0 && elCart.extradetails && elCart.extradetails.length == 0 && elCart.subitems && elCart.subitems.length == 0">
                    <small>{{elCart.descr}}</small>
                  </h3>
                  <p *ngFor="let detail of elCart.details">+ {{detail.name}}</p>
                  <p *ngFor="let extradetail of elCart.extradetails">+ {{extradetail.name}}</p>
                  <ng-container *ngFor="let subitem of elCart.subitems">
                    <p *ngIf="subitem.name">+ {{subitem.name}}</p>
                    <ng-container *ngIf="!subitem.name">
                      <p *ngFor="let subit of subitem">+ {{subit.name}}</p>
                    </ng-container>
                  </ng-container>
                  <ion-badge class="ion-badge-light">{{elCart.qty}} x {{elCart.endprice}} &euro;</ion-badge>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>  
      <ion-item lines="none"><h2 slot="start">per un totale di {{cartBookData.order.euro_total}} &euro;</h2></ion-item>
      <ion-item lines="none">
        <h2 slot="start" [ngSwitch]="cartBookData.order.payment_id">
          pagato 
          <strong *ngSwitchCase="payType.CARD"> con Carta di Credito.</strong>
          <strong *ngSwitchCase="payType.PAYPAL">con PayPal.</strong>
          <strong *ngSwitchCase="payType.SATISPAY">con Satispay.</strong>
          <strong *ngSwitchCase="payType.CREDIT">con Credito.</strong>
          <strong *ngSwitchCase="payType.MONEY"> in Contanti.</strong>
          <strong *ngSwitchCase="payType.INLIRE">con InLire.</strong>
          <strong *ngSwitchCase="payType.TICKET">con Ticket.</strong>
        </h2>
      </ion-item>
    </ng-container>
  </div>
</ion-content>
<ion-footer>
  <ion-button class="default-button" expand="block" (click)="goToHome()">Torna alla home</ion-button>
</ion-footer>