.app-logo{
    max-width: 70% !important;
    max-height: 150px;
}

ion-header{
    ion-toolbar{
        padding-top: 10px;
        padding-bottom: 5px;
    }
}  
ion-footer{
    padding: 10px;
    bottom: 0;

    p{
        margin: 5px 10px;
        font-size: 13px;
    }
    ion-item{
        --min-height: 20px !important;
    }
}
ion-footer::before{
    background-image: none !important;
}

ion-content{
    --background: var(--cs-background-secondary);
}

.info-container {
    margin: 10px 25px;
    background: var(--cs-background-accent);
    border-radius: 8px;
    padding: 0;
    color: var(--cs-background-secondary);

    ion-item{
        color: var(--cs-background-secondary);
        --background: var(--cs-background-accent);
        --border-radius: 8px;
    }

    h2{
        font-size: 16px;
        display: inline-block;
        margin-top: 10px;
        line-height: 1.3;
        font-weight: bold;
    }
    h3 {
        font-size: 16px;
        display: inline-block;
        margin-top: 10px;
        line-height: 1.3;
        margin-right: 50px;
    }
    ion-avatar{
        box-shadow: none !important;
        width: 33px;
        height: 33px;
        display: inline-block;
        border-color: var(--cs-background-accent2);
        img{
            object-fit: contain;
        }
    }
    ion-button{
        text-transform: none;
        --color: #000;
        --background: transparent;
        --box-shadow: none !important;
        font-weight: normal;
        font-size: 12px;
    }
}

.cart-container{

    ion-avatar{
        img{
            object-fit: contain;
        }
    }
    .mini-img{
        height: 15px;
    }
    .add-btn{
        --background: transparent;
        --padding-end: 0;
        --padding-start: 0 !important;
        --box-shadow: none;
        --color: var(--cs-text-primary);
        font-size: 20px;
    }
    .item-title{
        font-size: 13px;
    }
    
    .item-top{
        border-top: 1px solid var(--cs-background-accent);
    
        ion-button{
            height: 30px;
            float: right;
        }
        p{
            margin: 2px 0;
            font-size: 13px;
        }
        h3{
            font-size: 12px;
        }
    }
    ion-card{
        box-shadow: none !important;
    }
}