ion-title {
    padding-top: 10px;
    padding-bottom: 5px;
}
ion-footer{
    padding: 10px;

    .default-button{
        --border-radius: 8px !important;
        font-weight: bold;
        font-size: 18px;
        text-transform: none !important;
    }

}
ion-footer::before{
    background-image: none !important;
}

.app-logo{
    max-width: 70% !important;
    max-height: 120px;
    margin-top: 4px;
}

ion-content{
    --background: var(--cs-background-secondary);
    h1{
        margin-top: 50px;
        font-size: 23px !important;
        color: var(--cs-text-accent);
    }
}