<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="goBack()" class="width-28">
    </ion-buttons>     
    <ion-title class="ion-text-center">
      <img logo [src]="data.logo" class="app-logo"/>
    </ion-title>         
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-size-md ion-text-color-primary ion-font-bold ion-text-wrap ion-text-center">{{data.title}}</h1>
</ion-content>
<ion-footer>
  <ion-button class="default-button" expand="block" type="button" (click)="logout()">{{data.send}}</ion-button>
</ion-footer>
