<ion-header class="ctm-p-b-10">
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="goToMenu()" class="width-28">
    </ion-buttons>    
  </ion-toolbar>
  <ion-toolbar class="transparent title-toolbar">
    <h2 class="text-size-md ion-text-center font-regular ion-margin-top ion-padding-start toolbar-title">Il mio ordine</h2>
    <h1 class="text-size-md ion-text-center font-regular ion-margin-top ion-padding-start toolbar-title">
      <strong *ngIf="cartData && cartData.order">{{cartData.order.euro_total.toFixed(2)}} &euro;</strong>
    </h1>
  </ion-toolbar>
  <ion-toolbar class="transparent">
    <ion-row class="">
      <ion-col class="ion-text-center home-bt" (click)="onOrderTime()">
        <img src="assets/imgs/orologio-white-72.png">
        <h2 class="ion-text-center text-size-sm font-regular">
          <span *ngIf="cartData && cartData.order && cartData.order.order_date.length; else noDate;">{{cartData.order.order_date}}</span>
          <ng-template #noDate>Orario</ng-template>
        </h2>
      </ion-col>
      <ion-col class="ion-text-center home-bt" (click)="onPromoCode()">
        <img src="assets/imgs/coupon-72.png">
        <h2 class="ion-text-center text-size-sm font-regular">Coupon</h2>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="cartData && cartData.order && cartData.order.items">
    <ion-row *ngFor="let elCartArray of items">
      <ion-col size="12" size-md="12" *ngFor="let elCart of elCartArray.value">
        <ion-card class="border-radius ion-no-margin rest-card padding-half">
          <ion-row>
            <ion-col size="2" class="background-size transparent ion-no-padding image-item" lines="none">
              <img src="assets/imgs/pizza-2.jpg" alt="Image" *ngIf="elCart.imagefile == ''" />
              <img *ngIf="elCart.imagefile != ''" [src]="appInfo.ASSETS_URL + elCart.imagefile"/>
            </ion-col>
            <ion-col size="10" class="ion-align-self-center transparent ion-no-padding descr-item" lines="none" style="padding: 0 10px;">              
              <h2 class="ion-text-wrap">{{elCart.name}}</h2>
              <h3 class="ion-text-wrap" *ngIf="elCart.details && elCart.details.length == 0 && elCart.extradetails && elCart.extradetails.length == 0 && elCart.subitems && elCart.subitems.length == 0">
                <small>{{elCart.descr}}</small>
              </h3>
              <p *ngFor="let detail of elCart.details">+ {{detail.name}}</p>
              <p *ngFor="let extradetail of elCart.extradetails">+ {{extradetail.name}}</p>
              <ng-container *ngFor="let subitem of elCart.subitems">
                <p *ngIf="subitem.name">+ {{subitem.name}}</p>
                <ng-container *ngIf="!subitem.name">
                  <p *ngFor="let subit of subitem">+ {{subit.name}}</p>
                </ng-container>
              </ng-container>
              <ion-badge class="ion-badge-light">{{elCart.qty}} x {{elCart.endprice}} &euro;</ion-badge>
              <ion-button icon-only class="add-btn ion-float-end ion-no-padding" (click)="addToCartP(elCart)">
                <ion-icon name="add-circle-outline" class="accent-color"></ion-icon>
              </ion-button>
              <ion-button icon-only class="add-btn ion-float-end ion-no-padding" (click)="removeToCartP(elCart)">
                <ion-icon name="remove-circle-outline" class="accent-color"></ion-icon>
              </ion-button>
            </ion-col>
            <!--ion-col size="2">
              <ion-button icon-only class="add-btn" (click)="addToCartP(elCart)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
              <ion-button icon-only class="add-btn" (click)="removeToCartP(elCart)"><ion-icon name="remove-circle-outline"></ion-icon></ion-button>
            </ion-col-->
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
<ion-footer>  
  <!-- COUPON -->
  <ion-list>
    <ion-item  class="transparent" lines="none" *ngIf="cartData.order.euro_coupon > 0.01">
      <p>Coupon</p>
      <p slot="end">-{{cartData.order.euro_coupon}} &euro;</p>
    </ion-item>
    <!-- PROMO -->
    <ion-item class="transparent" lines="none" *ngIf="cartData.order.euro_promo == 0 && cartData.order.messaggiopromo != null">
      <p class="ion-text-wrap" style="font-size: 80%; color: coral !important">{{cartData.order.messaggiopromo}}</p>
    </ion-item>
    <ion-item *ngIf="cartData.order.euro_promo > 0.01">
      <p>Promo</p>
      <p slot="end">-{{cartData.order.euro_promo}} &euro;</p>
    </ion-item>
    <!-- CREDITO -->
    <ion-item class="transparent" lines="none" *ngIf="cartData.order.credit > 0.01">
      <p>Credito</p>
      <p slot="end">-{{cartData.order.credit}} &euro;</p>
    </ion-item>
    <!-- SOVRAPPREZZO -->
    <ion-item class="transparent" lines="none" *ngIf="cartData.order.euro_extradelivery > 0.001 && isDomicilio">
      <p>Sovrapprezzo</p>
      <ion-buttons end>
        <ion-button icon-only (click)="sovrapprezzoClick()">
          <img class="mini-img" src="assets/imgs/info-black.png">
        </ion-button>
      </ion-buttons>
      <p slot="end">{{cartData.order.euro_extradelivery}} &euro;</p>
    </ion-item>
    <!-- CONSEGNA -->
    <ion-item class="transparent" lines="none" *ngIf="isDomicilio">
      <p>Consegna</p>
      <p slot="end">{{cartData.order.euro_delivery}} &euro;</p>
    </ion-item>
  </ion-list>
  <ion-button class="default-button" expand="block" (click)="goToCheckout()" *ngIf="cartData != null && cartData.order.euro_total > 0" [disabled]="cartData.order.items.length == 0">
    Conferma
  </ion-button>
</ion-footer>
