<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/annulla-72.png" (click)="dismiss({})" class="width-28">
    </ion-buttons>        
    <h1 class="ion-text-center">Cambia password</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-padding-horizontal" size="12" size-md="8" push-md="2">
        <form class="ion-margin-vertical ion-padding-vertical">

          <ion-item class="ion-no-padding" input lines="none">
            <ion-input required type="password" placeholder="Password attuale" [(ngModel)]="item.oldpwd" [ngModelOptions]="{standalone: true}">
            </ion-input>
            <ion-icon *ngIf="!valid.oldpwd" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
          </ion-item>

          <ion-item class="ion-no-padding" input lines="none">
            <ion-input required type="password" placeholder="Nuova password" [(ngModel)]="item.newpwd" [ngModelOptions]="{standalone: true}">
            </ion-input>
            <ion-icon *ngIf="!valid.newpwd" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
          </ion-item>

          <ion-item class="ion-no-padding" input lines="none">
            <ion-input required type="password" placeholder="Conferma password" [(ngModel)]="item.confirmpwd" [ngModelOptions]="{standalone: true}">
            </ion-input>
            <ion-icon *ngIf="!valid.confirmpwd" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
          </ion-item>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button class="default-button" expand="block" (click)="savePwd()">Salva</ion-button>
</ion-footer>
