ion-toolbar{
    h1{
        font-size: 25px !important;
        font-weight: bold !important;
        margin-top: 15px !important;
        margin-bottom: 8px !important;
    }
}

form{
    padding: 16px 24px;

    ion-item{
        position: relative;
        --inner-padding-end: 0 !important;
    }
    
    ion-input {
        margin-top: 8px;
        border-radius: 6px !important;
        --min-height: 30px;
        text-align: left;
        --padding-start: 8px !important;
        --padding-end: 8px;
        --background: var(--gray-light);
        --placeholder-color: var(--gray) !important;
        color: var(--cs-text-accent) !important;
        font-weight: bold;
    }
    
    ion-icon{
        position: absolute;
        bottom: 10px;
        z-index: 8;
        right: 20px;
    }  
}
ion-content{
    --background: #fff;
}

ion-footer{
    padding: 10px 40px;
    bottom: 0;
    
    p{
        margin: 5px 10px;
        font-size: 13px;
    }
    ion-item{
        --min-height: 20px !important;
    }
}
ion-footer::before{
    background-image: none !important;
}