ion-content{
    --background: #fff;

    ion-item{
        padding: 0 25px !important;

        ion-avatar{
            --border-radius: 0 !important;
            box-shadow: none !important;
            display: flex;
            margin: 0;

            img{
                height: 27px;
                width: auto;
                margin: auto;
                align-self: center;
            }
        }

        h2{
            font-size: 14px;
            padding: 0 10px;
            font-weight: bold;
            color: var(--cs-text-primary);
            margin: 0;
        }

        ion-button{
            --padding-start: 12px;
            --padding-end: 12px;
            --background: var(--cs-background-accent) !important;
            text-transform: none;
            --box-shadow: none !important;
        }
    }
}

ion-footer{
    padding: 10px;
    background: rgba(248, 243, 238, .4);
    bottom: 0;

    p{
        margin: 5px 10px;
        font-size: 13px;
    }
    ion-item{
        --min-height: 20px !important;
    }
}
ion-footer::before{
    background-image: none !important;
}
ion-header{
    ion-toolbar{
        --background: var(--cs-background-accent2);
        --color: var(--cs-text-primary);
        h1{
            color: var(--cs-text-primary) !important;   
            font-size: 25px !important;
            font-weight: bold !important;
            margin: 30px 0 !important;
        }
    }
}
ion-buttons{
    img{
        height: 20px;
    }
}