<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button class="back-modal" (click)="dismiss()"><ion-icon name="md-freccia"></ion-icon></ion-button>
    </ion-buttons>    
    <h1 *ngIf="cartBookData && cartBookData.order">{{cartBookData.order.euro_total.toFixed(2)}} &euro;</h1>
    <ion-buttons slot="end" style="width: 48px;">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="cartBookData && cartBookData.order">   
  <ng-container *ngFor="let payment of restaurantBase.payments">
    <ion-item *ngIf="payment.id == payType.MONEY && !hideCash && cartBookData.order.credit == 0" (click)="onItemClick(1)">
      <ion-avatar>
        <img src="assets/imgs/contanti.png" />
      </ion-avatar>
      <h2>Contanti</h2>
      <ion-button slot="end">Paga</ion-button>
    </ion-item>

    <ion-item *ngIf="payment.id == payType.PAYPAL" (click)="onItemClick(2)">
      <ion-avatar>
        <img src="assets/imgs/paypal.png" />
      </ion-avatar>
      <h2>Paypal</h2>
      <ion-button slot="end">Paga</ion-button>
    </ion-item>

    <ion-item *ngIf="payment.id == payType.SATISPAY" (click)="onItemClick(7)">
      <ion-avatar>
        <img src="assets/imgs/satispay.jpg" />
      </ion-avatar>
      <h2>Satispay</h2>
      <ion-button slot="end">Paga</ion-button>
    </ion-item>

    <ion-item *ngIf="payment.id == payType.CARD" (click)="onItemClick(3)">
      <ion-avatar>
        <img src="assets/imgs/carta-di-credito.png" />
      </ion-avatar>
      <h2>Carta di credito</h2>
      <ion-button slot="end">Paga</ion-button>
    </ion-item>
  </ng-container>
</ion-content>
<ion-footer>
  <ion-button class="default-button" expand="block" (click)="dismiss()">
    Torna al riepilogo
  </ion-button>
</ion-footer>
