<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="goBack()" class="width-28">
    </ion-buttons>        
    <h1 class="ion-text-center">Scegli il locale</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="records != null">
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let item of records">
        <ion-card class="border-radius box-shadow ion-text-center ion-no-margin rest-card" (click)="goToRestaurant(item)">
          <!--ion-item lines="none">
            <ion-label>
              <h2 class="text-size-xl text-color-primary font-regular ion-text-wrap">{{item.title}}</h2>
            </ion-label>
            <ion-badge class="box-shadow margin-half" slot="end">
              {{item.price}}</ion-badge>
          </ion-item-->
          <ion-img [src]="appInfo.ASSETS_URL + item.mediaheader.filename"></ion-img>
          <ion-card-content class="ion-text-center">
            <h3 class="text-size-md font-regular ion-text-wrap">{{item.name}}</h3>
            <!--h2 class="text-size-xl text-color-light font-bold ion-text-wrap">{{item.subtitle}}</h2-->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
