
.rest-card{
  h3{
    color: var(--cs-text-accent);
    font-weight: bold !important;
  }
}

ion-img{
  height: 250px;
}

ion-toolbar{
  h1{
      font-size: 25px !important;
      font-weight: bold !important;
      margin-top: 15px !important;
      margin-bottom: 8px !important;
  }
}