<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="previous-btn">
      <img *ngIf="!isHeaderVisible" src="assets/imgs/freccia-sx-72.png" (click)="goBack()" class="width-28">
      <img *ngIf="isHeaderVisible" src="assets/imgs/freccia-sx-black-64.png" (click)="goBack()" class="width-28">
    </ion-buttons>      
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" parallax-header (ionScroll)="scrolling($event)">
  
  <!-- Banner image -->
  <img src="assets/imgs/pizza-home.jpg" class="banner-img">
  
  <div class="ion-text-center logo-div">
    <img src="assets/imgs/logo.png" class="logo-img">
  </div>

  <div class="header-image background-size" [ngStyle]="{'background-image': 'url(' + appInfo.ASSETS_URL + restaurant.mediaheader.filename + ')'}" 
  *ngIf="restaurant && restaurant.mediaheader && !restaurant.mediagallery.length; else carouselTmpl">
  </div>

  <div class="first-block">
    <h4 class="ion-text-center">Scopri il ristorante</h4>
    <p class="ion-text-center">
      Per qualsiasi informazione puoi contattarci tramite mail o al nostro numero di telefono. Saremo pronti a risponderti nel minor tempo possibile.
    </p>
    <ion-row>
      <ion-col>
          <ion-button class="default-button" expand="block" (click)="phone()">Telefona</ion-button>
      </ion-col>
      <ion-col>
          <ion-button class="default-button" expand="block" (click)="email()">Email</ion-button>
      </ion-col>
    </ion-row>

    <ng-container *ngIf="showFollowus()">
      <h4 class="ion-text-center">Seguici su</h4>
      <ion-row class="ion-justify-content-center follow-container">
        <ion-col size="4" class="ion-text-center" *ngIf="restaurant.appsettings.activate_facebook">
          <a (click)="goFacebook()">
            <img src="assets/imgs/facebook-150.png">
          </a>
        </ion-col>
        <ion-col size="4" class="ion-text-center" *ngIf="restaurant.appsettings.activate_instagram">
          <a (click)="goInstagram()">
            <img src="assets/imgs/instagram-150.png">
          </a>
        </ion-col>
      </ion-row>
    </ng-container>

    <ng-container *ngIf="restaurant && restaurant.appsettings && restaurant.appsettings.activate_website">
      <h4 class="ion-text-center">Visita</h4>
      <a class="site-link ion-text-center" (click)="goSite()" style="display: block;">{{restaurant.appsettings.link_website}}</a>
    </ng-container>
  </div>

  <div class="second-block">
    <h4 class="ion-text-center">Vieni a trovarci</h4>
    <p class="ion-text-center" *ngIf="restaurant && restaurant.location">
      {{restaurant.location.address}}, {{restaurant.location.num}} - {{restaurant.location.zipstr ? restaurant.location.zipstr : restaurant.location.zip}} {{restaurant.location.townstr}}
    </p>
    <div #mapContainer id="mapContainer" class="mapContainer" (click)="goTracking()">
      <agm-map [latitude]="mapInfo.lat" [longitude]="mapInfo.lng" [zoom]="18" [disableDefaultUI]="false" (mapReady)="onMapReady($event)">
        <agm-marker [latitude]="mapInfo.lat" [longitude]="mapInfo.lng" [iconUrl]="mapInfo.icon" [markerDraggable]="false">
        </agm-marker>
      </agm-map>
    </div>  

    <h4 class="ion-text-center" *ngIf="restaurant && restaurant.appsettings && restaurant.appsettings.notes.length > 0">Orari</h4>
    <p class="text-left ion-margin-top" *ngIf="restaurant && restaurant.appsettings" [innerHtml]="restaurant.appsettings.notes"></p>
    
    <h4 class="ion-text-center" *ngIf="restaurant.service_type > 0">Orari consegne a domicilio</h4>
    <table block *ngIf="restaurant.service_type > 0">
      <thead>
          <th text-center>Giorno</th>
          <th text-center>Pranzo</th>
          <th text-center>Cena</th>
      </thead>
      <tbody>
          <tr *ngFor="let item of restaurant.openingtimes">
          <td>{{days[item.week_day]}}.</td>
          <td>
            <span *ngIf="item.closed_lunch">Chiuso</span>
            <span *ngIf="!item.closed_lunch">{{item.open_lunch}} - {{item.close_lunch}}</span>
          </td>
          <td>
            <span *ngIf="item.closed_dinner">Chiuso</span>
            <span *ngIf="!item.closed_dinner">{{item.open_dinner}} - {{item.close_dinner}}</span>
          </td>
          </tr>
      </tbody>
    </table>
    <div section-delimiter *ngIf="restaurant.service_type > 0"></div>
    <h4 class="ion-text-center" *ngIf="restaurant.service_type == 0 || restaurant.service_type == 2">Orari servizio asporto</h4>
    <table block *ngIf="restaurant.service_type == 0 || restaurant.service_type == 2">
      <thead>
          <th text-center>Giorno</th>
          <th text-center>Pranzo</th>
          <th text-center>Cena</th>
      </thead>
      <tbody>
          <tr *ngFor="let item of restaurant.openingtimes">
          <td>{{days[item.week_day]}}.</td>
          <td>
            <span *ngIf="item.closed_lunch_away">Chiuso</span>
            <span *ngIf="!item.closed_lunch_away">{{item.open_lunch_away}} - {{item.close_lunch_away}}</span>
          </td>
          <td>
            <span *ngIf="item.closed_dinner_away">Chiuso</span>
            <span *ngIf="!item.closed_dinner_away">{{item.open_dinner_away}} - {{item.close_dinner_away}}</span>
          </td>
          </tr>
      </tbody>
    </table>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button class="default-button" expand="block" type="button" (click)="goBack()">Indietro</ion-button>
</ion-footer>