ion-header{
    background-color: transparent !important;
    position: fixed;
    .img-toolbar{

        height: 200px !important;
        position: relative;
        --min-height: 200px;

        ion-img{
            position: absolute;
            height: 200px;
            top: 0;
            left: 0;
            width: 100%;
        }

        ion-buttons{
            align-self: start !important;
        }
    }
    ion-toolbar{
        --background: transparent !important;
        h1{
            text-align: center;
            font-weight: normal !important;
            span{
                font-size: 33px;
            }
        }
    }
}

.background-size {
    height: 220px;
    position: relative;
}

.title-bar{
    background: var(--cs-background-accent);
    h1{
        text-align: center;
        font-weight: normal !important;
        span{
            font-size: 33px;
        }
    }
}

ion-content{

    --background: #fff;
    --padding-bottom: 30px;

    .banner-img {
        width: 100%;
        height: 200px;
        display: block;
    }

    .logo-div {
        .logo-img {
            width: 140px;
            margin-top: 10px;
        }
    }

    .first-block{
        padding: 0px 20px 20px 20px;

        ion-img{
            width: calc(100% + 60px);
            margin-left: -30px;
        }
    }
    .second-block{
        padding: 0 30px;
    }
    h4{
        font-size: 23px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
        color: var(--cs-text-accent);
    }

    p{
        color: var(--cs-text-accent);
        line-height: 1.4;
        font-weight: bold;
    }

    .default-button{
        --background: var(--gray-light) !important;
        color: var(--cs-text-accent);
    }
    .follow-container{
        img{
            width: 60px;
        }
    }
    #mapContainer{
        height: 200px;
        background: #F8F5F0;
        agm-map{
            height: 200px;
        }
    }
    table{
        width: 100%;
        
        th, td{
            border: 3px solid var(--gray-light);
            text-align: center;
            color: var(--cs-text-accent);
            padding: 7px;
        }

        tr{
            td:first-child{
                border-left-width: 0;
                font-weight: bold;
            }
            td:last-child{
                border-right-width: 0;
            }
        }
        tr:last-child{
            td{
                border-bottom-width: 0;
            }
        }
        thead{
            th:first-child{
                border-left-width: 0;
            }
            th:last-child{
                border-right-width: 0;
            }
            th{
                border-top-width: 0;
            }
        }
    }
}

ion-footer{
    padding: 10px;
}