ion-toolbar{
    h1{
        font-size: 25px !important;
        font-weight: bold !important;
        margin: 20px 0 !important;
        margin-bottom: 40px !important;
    }
}

ion-content{

    --background: var(--cs-background-secondary);

    p{
        color: var(--cs-text-accent);
        margin: 30px 0;
        font-size: 14px;
    }

    form{
        padding: 16px 25px;
    
        ion-item{
            --padding-start: 16px;
            --padding-end: 16px;
            position: relative;
        }
        
        ion-label{
            align-self: start !important;
            color: var(--cs-text-accent) !important;
            font-weight: bold !important;
            font-size: 19px !important
        }
        
        ion-input, ion-select{
            margin-top: 8px;
            --background: var(--gray-light);
            --placeholder-color: var(--gray) !important;
            color: var(--cs-text-accent) !important;
            border-radius: 6px !important;
            --min-height: 30px;
            text-align: left;
            --padding-start: 8px !important;
            --padding-end: 8px;
        }

        ion-select{
            --background: var(--gray-light);
        }
            
        ion-icon{
            position: absolute;
            bottom: 10px;
            z-index: 8;
            right: 20px;
        }    
    }
    
}

ion-footer{
    padding: 10px;
}

ion-footer::before{
    background-image: none !important;
}