<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="dismiss({})" class="width-28">
    </ion-buttons> 
  </ion-toolbar>
  <ion-toolbar class="transparent ion-text-center">
    <img src="assets/imgs/carta-credito-white.png" class="width-60">
    <h1 class="ion-text-center text-size-sm text-color-light font-regular">Paga con Carta di Credito</h1>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p class="ion-text-center">Paga comodamente con la tua carta di credito.</p>
  <form class="ion-margin-vertical ion-text-center ion-padding-vertical">
    <ion-item class="ion-no-padding ion-text-center" input lines="none">
      <ion-label class="text-size-sd text-color-primary font-regular" position="stacked">Nome sulla carta</ion-label>
      <ion-input type="text" placeholder="" name="buyername" [(ngModel)]="item.buyername" [ngModelOptions]="{standalone: true}">
      </ion-input>
      <ion-icon *ngIf="!valid.buyername" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
    </ion-item>
    <ion-item class="ion-no-padding ion-text-center" input lines="none">
      <ion-label class="text-size-sd text-color-primary font-regular" position="stacked">Numero carta</ion-label>
      <ion-input required type="text" placeholder="" name="number" [(ngModel)]="item.number" [ngModelOptions]="{standalone: true}">
      </ion-input>
      <ion-icon *ngIf="!valid.number" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
    </ion-item>
    <ion-item class="ion-no-padding ion-text-center" input lines="none">
      <ion-label class="text-size-sd text-color-primary font-regular" position="stacked">Mese validit&agrave;</ion-label>
      <ion-select [(ngModel)]="item.expMonth" name="expMonth" multiple="false" interface="popover" placeholder="Seleziona">
        <ion-select-option *ngFor="let it of months" [value]="it">{{it}}</ion-select-option>
      </ion-select>
      <ion-icon *ngIf="!valid.expMonth" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
    </ion-item>
    <ion-item class="ion-no-padding ion-text-center" input lines="none">
      <ion-label class="text-size-sd text-color-primary font-regular" position="stacked">Anno validit&agrave;</ion-label>
      <ion-select [(ngModel)]="item.expYear" name="expYear" multiple="false" interface="popover" placeholder="Seleziona">
        <ion-select-option *ngFor="let it of years" [value]="it.value">{{it.label}}</ion-select-option>
      </ion-select>
      <ion-icon *ngIf="!valid.expYear" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
    </ion-item>
    <ion-item class="ion-no-padding ion-text-center" input lines="none">
      <ion-label class="text-size-sd text-color-primary font-regular" position="stacked">CVC/CVV</ion-label>
      <ion-input required type="text" placeholder="" name="CVV" [(ngModel)]="item.CVV" [ngModelOptions]="{standalone: true}">
      </ion-input>
      <ion-icon *ngIf="!valid.CVV" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-button class="default-button" expand="block" (click)="onComplete()">
    Completa il tuo ordine
  </ion-button>
</ion-footer>
