<ion-header>
  <ion-toolbar class="transparent ion-text-center">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="goToCart()" class="width-28">
    </ion-buttons>        
    <h1 *ngIf="cartData && cartData.order" >{{cartData.order.euro_total.toFixed(2)}} &euro;</h1>
  </ion-toolbar>
  <ion-toolbar class="transparent line-toolbar">
    <ion-row>
      <ion-col><span class="dot active"></span></ion-col>
      <ion-col><span class="dot"></span></ion-col>
      <ion-col><span class="dot"></span></ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar class="transparent steps-toolbar">
    <ion-row>
      <ion-col class="active">CHECKOUT</ion-col>
      <ion-col>PAGAMENTO</ion-col>
      <ion-col>COMPLETA</ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar class="transparent info-toolbar">
    <div class="info-container">
      <ion-item lines="none" *ngIf="isDomicilio">       
        <ion-avatar slot="start">
          <img src="assets/imgs/posizione-red-72.png">
        </ion-avatar>
        <h2 slot="start" *ngIf="cartData && cartData.order">
          {{cartData.order.location.address}}, {{cartData.order.location.num}}<br>
          {{cartData.order.location.townstr}} {{cartData.order.location.zip}}
        </h2>    
        <ion-button slot="end" (click)="onChangeLocation()">Modifica</ion-button>
      </ion-item>
      <ion-item lines="none">       
        <ion-avatar slot="start">
          <img src="assets/imgs/orologio-red-72.png">
        </ion-avatar>
        <h2 slot="start" *ngIf="cartData && cartData.order">
          <span *ngIf="cartData.order.tipooraconsegna == 0">
            <span *ngIf="cartData.order.order_date != -2">{{cartData.order.order_date}}</span> 
            <span *ngIf="cartData.order.order_date == -2">Non disponibile ora</span> 
          </span>
          <span *ngIf="cartData.order.tipooraconsegna == 1">
            <span *ngIf="cartData.order.fasciaoraria != -2">{{cartData.order.fasciaoraria}} </span> 
            <span *ngIf="cartData.order.fasciaoraria == -2">Non disponibile ora</span> 
          </span>
        </h2>    
        <ion-button slot="end" (click)="onChangeTime()">Modifica</ion-button>
      </ion-item>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="ion-margin-vertical ion-text-center ion-padding-vertical">
    <ion-item class="ion-no-padding ion-text-center" input lines="none" *ngIf="isDomicilio">
      <ion-label class="text-size-sd text-color-primary font-regular" position="stacked">Interno</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="cartData.order.location.interno" [ngModelOptions]="{standalone: true}">
      </ion-input>
    </ion-item>
    <ion-item class="ion-no-padding ion-text-center ctm-m-t-8" input lines="none" *ngIf="isDomicilio">
      <ion-label class="text-size-sd text-color-primary font-regular" position="stacked">Citofono</ion-label>
      <ion-input required type="text" placeholder="" [(ngModel)]="cartData.order.location.citofono" [ngModelOptions]="{standalone: true}">
      </ion-input>
      <ion-icon *ngIf="!valid.citofono" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
    </ion-item>
    <ion-item class="ion-no-padding ion-text-center ctm-m-t-8" input lines="none">
      <ion-label class="text-size-sd text-color-primary font-regular" position="stacked">Numero di telefono</ion-label>
      <ion-input required type="text" placeholder="" [(ngModel)]="cartData.order.phone" [ngModelOptions]="{standalone: true}">
      </ion-input>
      <ion-icon *ngIf="!valid.phone" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
    </ion-item>
    <ion-item class="ion-no-padding ion-text-center ctm-m-t-8" input lines="none">
      <ion-label class="text-size-sd text-color-primary font-regular" position="stacked">Note per il ristorante</ion-label>
      <ion-textarea [(ngModel)]="cartData.order.note" [ngModelOptions]="{standalone: true}">
      </ion-textarea>
    </ion-item>
  </form>
</ion-content>
<ion-footer>  
  <ion-button class="default-button" expand="block" (click)="confirm()" *ngIf="cartData != null && cartData.order.euro_total > 0" [disabled]="cartData.order.items.length == 0">
    Conferma
  </ion-button>
</ion-footer>
