
<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="dismiss({})" class="width-28">
    </ion-buttons>
    <h1 class="text-size-md font-regular ion-margin-top ion-padding-start toolbar-title ion-text-center">Indirizzo</h1>
    <ion-buttons slot="start" class="location-btn">
      <img src="assets/imgs/compass-72.png" (click)="getPosition()" class="width-28">
    </ion-buttons>    
  </ion-toolbar>
  <ion-toolbar class="transparent">
    <ion-searchbar [(ngModel)]="query" (ionChange)="searchPlace()" placeholder="Inserisci il tuo indirizzo">
    </ion-searchbar>
    <ion-list>
      <ng-container *ngFor="let place of places">
        <ion-item (click)="selectPlace(place)">{{place.description}}</ion-item>
      </ng-container>
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Content -->
<ion-content>
  <agm-map [latitude]="mapInfo.lat" [longitude]="mapInfo.lng" [zoom]="18" [disableDefaultUI]="false" [zoomControl]="false" [fullscreenControl]="false"
           [streetViewControl]="false" [draggable]="false" *ngIf="!loading">
    <agm-marker [latitude]="mapInfo.lat" [longitude]="mapInfo.lng" [iconUrl]="mapInfo.icon" [markerDraggable]="false">
    </agm-marker>
  </agm-map>
</ion-content>
<ion-footer>
  <ion-button [disabled]="saveDisabled" class="default-button" expand="block" type="button" (click)="save()">Cerca</ion-button>
</ion-footer>
