ion-toolbar {
  h1{
    font-size: 25px !important;
    font-weight: bold !important;
    margin-top: 20px !important;
  }
  .location-btn {
    position: absolute;
    right: 16px;
  }
}

.ios {
  ion-back-button,
  ion-menu-button {
    --color: var(--cs-text-accent, #2ABDCE);
  }
}

ion-list {
  ion-item {
    color: var(--cs-text-accent) !important;
  }
}

ion-searchbar {
  border-radius: 8px !important;
  --placeholder-color: var(--cs-background-accent) !important;    
  --icon-color: var(--cs-background-accent) !important;  
  color: var(--cs-text-accent) !important;
  .searchbar-clear-button {
    ion-icon {
      color: var(--cs-text-accent) !important;
    }
  }
  input {
    background-color: #fff !important;
    padding-inline-start: 40px !important;
    padding-inline-end: 35px !important;
    font-size:15px !important;
  }
}

agm-map {
  min-height: 300px !important;
  //height: 300px !important;
  width: 100%;  /* This is really important*/
  height: 100%;  /* This is really important*/
}

ion-back-button{
  color: #fff !important;
}

ion-footer{
  padding: 10px;
  background: rgba(248, 243, 238, .4);

  .default-button{
      --border-radius: 8px !important;
      font-weight: bold;
      font-size: 18px;
      text-transform: none !important;
  }

}
ion-footer::before{
  background-image: none !important;
}