<ion-header>
  <ion-toolbar class="transparent">
    <ion-buttons slot="start" class="previous-btn">
      <img src="assets/imgs/freccia-sx-72.png" (click)="dismiss({})" class="width-28">
    </ion-buttons>    
  </ion-toolbar>
</ion-header>
<ion-content>
  <ngx-paypal [config]="payPalConfig"></ngx-paypal>
</ion-content>
<!--<ion-footer>
  <ion-button class="default-button" expand="block" (click)="onComplete()">
    Completa il tuo ordine
  </ion-button>
</ion-footer>-->
