ion-toolbar{
    h1{
        font-size: 25px !important;
        font-weight: bold !important;
        margin: 20px 0 !important;
        margin-bottom: 60px !important;
    }
}

ion-content{

    --background: #fff;

    p{
        color: var(--gray);
        margin: 30px 0;
        font-size: 14px;
    }

    form{
        padding: 16px 25px;
    
        ion-item{
            --padding-start: 16px;
            --padding-end: 16px;
            position: relative;
        }
        
        ion-label{
            align-self: start !important;
            color: var(--gray) !important;
            font-weight: bold !important;
            font-size: 19px !important
        }
        
        ion-input, ion-select{
            margin-top: 8px;
            --background: #F8F4EF;
            border-radius: 6px !important;
            --min-height: 30px;
            text-align: left;
            --padding-start: 8px !important;
            --padding-end: 8px;
        }

        ion-select{
            background: #F8F4EF;
        }
            
        ion-icon{
            position: absolute;
            bottom: 10px;
            z-index: 8;
            right: 20px;
        }    
    }
    
}

ion-footer{
    padding: 10px;
    background: rgba(248, 243, 238, .4);
    bottom: 0;

    .default-button{
        --border-radius: 8px !important;
        font-weight: bold;
        font-size: 18px;
        text-transform: none !important;
    }
}

ion-footer::before{
    background-image: none !important;
}